<div class="modal-header bg-info text-light">
    <h4 class="modal-title">Notification Delivery Information</h4>
    <button type="button" (click)="activeModal.dismiss('dismiss click')" class="btn-close" title="Close">
    </button>
</div>

<div class="modal-body">
    <div *ngIf="delivery.recipients.length; else no_delivery" class="col table-responsive">
        <table class="table table-sm font-small table-no-wrap table-normal-head mb-0 bb-0">
            <thead>
                <tr class="bg-primary text-light fw-lighter">
                    <th class="calc-col-5rem">Status</th>
                    <th class="calc-col-5rem">Received By</th>
                    <th class="calc-col-5rem">Message Id</th>

                    <th class="calc-col-5rem">Last Clicked or Opened</th>
                    <th class="calc-col-5rem">Times Clicked</th>
                    <th class="calc-col-5rem">Times Opened</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let r of delivery.recipients">
                    <td>{{r.status}}</td>
                    <td>{{r.to_email}}</td>
                    <td>{{r.msg_id}}</td>

                    <td>{{r.last_event_time}}</td>
                    <td>{{r.clicks_count}}</td>
                    <td>{{r.opens_count}}</td>
                    <!-- TODO: Add attachments list here somehow -->
                </tr>
            </tbody>
        </table>
    </div>

    <ng-template #no_delivery>
        No delivery information is available
    </ng-template>
</div>
    
