<!-- Settlement Details -->
<div class="row mt-2">
    <div class="d-flex mb-2 align-items-center flex-row">
        <button class="btn btn-sm btn-outline-primary ms-1 me-1" type="button"
            (click)="collapseStateSettlement.toggle()" 
            [attr.aria-expanded]="!hideSettlement"
            title="Toggle Settlement Details">
            <i *ngIf="hideSettlement" class="bi bi-chevron-right"></i>
            <i *ngIf="!hideSettlement" class="bi bi-chevron-down"></i>
        </button>
        <h6 class="mb-0">Settlement Details</h6>
        <button *ngIf="showAddFormal" type="button" class="btn btn-sm btn-success margin-left-auto"
            [disabled]="!canAddFormal" (click)="addFormalSettlement()"
            title="Record a formal Settlement as determined by an Authority.">
            <i class="bi bi-plus"></i> Add Formal Settlement
        </button>
        <i *ngIf="!canAddFormal" class="bi bi-question-circle-fill ms-1 text-danger"
            title="{{addSettlementHelpText}}"></i>

    </div>
</div>
<div #collapseStateSettlement="ngbCollapse" [(ngbCollapse)]="hideSettlement">
    <div class="row">
        <div class="col table-responsive">
            <table class="table table-sm table-normal-head small bb-0">
                <thead>
                    <tr>
                        <th>...</th>
                        <th>Authority</th>
                        <th>Case #</th>
                        <th>Prevailing Party</th>
                        <th>Settled On</th>
                        <th>Authority Settlement Amount</th>
                        <th>Gross Settlement Amount</th>
                        <th>Total Payments</th>
                        <th>Net Settlement Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngFor="let g of caseSettlements$ | async">
                        <tr>
                            <td>
                                <!-- hide until ready to use -->
                                <button type="button" class="btn btn-sm btn-primary" *ngIf="isManager"
                                    (click)="openSettlementDialog(g)" title="More details">
                                    <i class="bi bi-card-text"></i>
                                </button>

                            </td>
                            <td class="text-center">{{g.authorityKey}}</td>
                            <td [ngClass]="{'text-bold':g.authorityCaseId===currentDispute.authorityCaseId}">
                                {{g.authorityCaseId}}
                            </td>
                            <td>{{g.prevailingParty}}</td>
                            <td>{{g.partiesAwardNotificationDate|date:'shortDate'}}</td>
                            <td>{{g.totalSettlementAmount | currency}}</td>
                            <td>{{g.grossSettlementAmount | currency}}</td>
                            <td>{{getSum('paid') | currency}}</td>
                            <td>{{g.grossSettlementAmount - getSum('paid') | currency}}</td>
                        </tr>
                        <tr *ngIf="g.caseSettlementDetails.length">
                            <td></td>
                            <td colspan="8">
                                <!-- Settlement Details / Payments nested table-->
                                <table class="table table-sm small w-auto">
                                    <thead>
                                        <th><b>Additional Paid Amount</b></th>
                                        <th><b>Paid On</b></th>
                                        <th><b>Method of Payment</b></th>
                                        <th><b>Payment Reference #</b></th>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let r of g.caseSettlementDetails">
                                            <td>{{r.additionalPaidAmount | currency}}</td>
                                            <td>{{r.paymentMadeDate | date: 'shortDate'}}</td>
                                            <td>{{r.methodOfPayment}}</td>
                                            <td>{{r.paymentReferenceNumber}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </ng-container>
                </tbody>
                <tfoot *ngIf="!(caseSettlements$ | async)?.length">
                    <tr>
                        <td colspan="9">No settlements</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>