# Terraform local files
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
# Allow committed environment variable files while ignoring other tfvars
*.tfvars
!platform/infra/envs/**/terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfplan

# Editor directories
.vscode/
.idea/

# OS metadata
.DS_Store
