<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- DEV settings -->
    <add key="baseAppAddress" value="https://localhost:44473/" />
    <add key="client_id" value="@Microsoft.KeyVault(SecretName=mpnotify-dev-client-id)" />
    <add key="clientSecret" value="@Microsoft.KeyVault(SecretName=mpnotify-dev-client-secret)" />
    <add key="resource" value="@Microsoft.KeyVault(SecretName=mpnotify-dev-resource)" />
    <add key="tenant_id" value="@Microsoft.KeyVault(SecretName=mpnotify-dev-tenant-id)" />

    <!-- PROD settings retrieved via Key Vault -->
    <!--
    <add key="baseAppAddress" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-base-address)" />
    <add key="client_id" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-client-id)" />
    <add key="clientSecret" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-client-secret)" />
    <add key="secret_id" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-secret-id)" />
    <add key="resource" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-resource)" />
    <add key="tenant_id" value="@Microsoft.KeyVault(SecretName=mpnotify-prod-tenant-id)" />
    -->

    <!-- EmailFromAddress - the authorized sender address as specified in SendGrid -->
    <add key="EmailFromAddress" value="@Microsoft.KeyVault(SecretName=mpnotify-email-from-address)" />
    <add key="EmailFromName" value="HaloMD IDR" />
    <!-- The access key for SendGrid -->
    <add key="SendGridApiKey" value="@Microsoft.KeyVault(SecretName=mpnotify-sendgrid-api-key)" />
    <!-- Other settings -->
    <add key="daysToKeepLogFiles" value="30" />
  </appSettings>
</configuration>
