<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- DEV settings arbitrationpoccalculator.azurewebsites.net  -->
		<add key="baseAppAddress" value="https://localhost:44473/"/>
		<add key="client_id" value="e6ddd06c-eb88-47fb-8579-185b2436a2cb"/>
		<add key="clientSecret" value="5oM8Q~VEx8VkLW6srlm2Fexz.h5Tb9x3fIU9xbnn"/>
		<add key="resource" value="api://e6ddd06c-eb88-47fb-8579-185b2436a2cb"/>
		<add key="tenant_id" value="2e09f3a3-0520-461f-8474-052a8ed7814a"/>
		
		
		<!-- PROD settings only -->
		<!--<add key="baseAppAddress" value="https://arbitration.mpowerhealth.com/"/>
		<add key="client_id" value="feb1fc35-5267-4946-bc23-d8da34237e90"/>
		<add key="clientSecret" value="Org8Q~bxeEhNjy4plCIJ~k1AMqM.ZEWjVn21sbEu"/>
		<add key="secret_id" value="da638a1a-e40b-4376-b165-a00f76a22071"/> 
		<add key="resource" value="api://feb1fc35-5267-4946-bc23-d8da34237e90"/>
		<add key="tenant_id" value="2e09f3a3-0520-461f-8474-052a8ed7814a"/>-->

		
		<!-- EmailFromAddress - the authorized sender address as specified in SendGrid -->
		<add key="EmailFromAddress" value="nsa@halomd.com"/>
		<add key="EmailFromName" value="HaloMD IDR"/>
		<!--The access key for SendGrid -->
		<add key="SendGridApiKey" value="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" />
		<!-- Other settings -->
		<add key="daysToKeepLogFiles" value="30"/>
	</appSettings>
</configuration>