<div class="card">
    <div class="card-header d-block">
        <div class="row justify-content-between">
            <div class="col-auto">
                <h4>My Work Queues
                    <button type="button" class="btn btn-sm btn-outline-success" (click)="showHelp=!showHelp"
                        title="Click to toggle the work path diagram">
                        <i class="bi bi-question-lg"></i>
                    </button>
                </h4>
            </div>
            <div class="col-auto margin-left-auto">
                <button type="button" class="btn btn-sm btn-success me-2" 
                    (click)="refreshAll()"
                    title="Pull the next available Dispute that is ready for Brief preparation">
                    <i class="bi bi-arrow-clockwise"></i> Refresh All
                </button>
            </div>
            <!-- Brief Preparer Get Next Button 
                <div class="col-auto">
                    <button type="button" class="btn btn-sm btn-success me-2" 
                        (click)="getNextDispute(WorkQueueName.BriefPreparer)"
                        title="Pull the next available Dispute that is ready for Brief preparation">
                        <i class="bi bi-search"></i> Pull Next Dispute
                    </button>
                </div> 
            -->
            <!-- Brief Writer Get Next Button 
                <div class="col-auto">
                <button type="button" class="btn btn-sm btn-success me-2" 
                    (click)="getNextDispute(WorkQueueName.BriefWriter)"
                    title="Pull the next available Dispute that is ready for Brief creation">
                    <i class="bi bi-search"></i> Pull Next Dispute
                </button>
            </div> 
            -->
        </div>

        <!-- Add filtering later ...
        <div class="row" *ngIf="showActions">
            <div class="col-auto">
                < !-- Customer -- >
                <div class="input-group input-group-sm mb-1">
                    <span class="input-group-text">Customer</span>
                    <select name="customer" [(ngModel)]="customer" (change)="applyFilters()"
                        class="form-select form-select-sm" autocomplete="off" aria-label="Customer"
                        title="Filter by the Customer who owns the Claim.">
                        <option value="">(All)</option>
                        <option *ngFor="let s of allCustomers" [ngValue]="s">{{s}}</option>
                    </select>
                </div>
                <p class="fs-6 fst-italic">* requires NSAReplyTo configuration</p>
            </div>
        </div>
        -->
        <p *ngIf="showHelp">
            This is the work flow path for Disputes:<br />
            <span class="badge rounded-pill text-bg-info text-white">Dispute Submission</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Entity Assignment</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Brief Preparation</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Brief Creation</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Brief Approval</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Brief Submission</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Dispute Resolution</span> &gt;
            <span class="badge rounded-pill text-bg-info text-white">Dispute Settlement</span>
        </p>
    </div>
    <div class="card-body">
        <p *ngIf="!isBriefApprover&&!isBriefPreparer&&!isBriefWriter">There are no work queues assigned to your user profile at this time.</p>

        <!-- Brief Preparer Queue -->
        <ng-container *ngIf="isBriefPreparer">
            <div class="row mt-2 justify-content-between">

                <!-- Brief Preparation -->
                <div class="d-flex mb-2 align-items-center">
                    <button class="btn btn-sm btn-outline-primary ms-1 me-1" type="button"
                        (click)="collapseDisputeBriefPrep.toggle()" [attr.aria-expanded]="!hideBriefPreparer"
                        title="Toggle Brief Preparation">
                        <i *ngIf="hideBriefPreparer" class="bi bi-chevron-right"></i>
                        <i *ngIf="!hideBriefPreparer" class="bi bi-chevron-down"></i>
                    </button>
                    <h6 class="mb-0">Dispute Brief Preparation ({{allBriefPreps.length}} remaining)</h6>
                    <div class="col-auto margin-left-auto">
                        <button type="button" class="btn btn-sm btn-success me-2" [disabled]="allBriefPreps.length>=5"
                            (click)="getNextDispute(WorkQueueName.DisputeBriefPreparer,undefined)"
                            title="Pull the next available Dispute that is ready for Brief preparation">
                            <i class="bi bi-search"></i> Pull Next
                        </button>
                    </div>
                </div>
            </div>
            <div #collapseDisputeBriefPrep="ngbCollapse" [(ngbCollapse)]="hideBriefPreparer">
                <div class="col table-responsive">
                    <table class="table table-sm font-small table-no-wrap table-normal-head bb-0">
                        <thead>
                            <tr class="bg-primary text-light fw-lighter">
                                <th>...</th>
                                <th class="calc-col-5rem">Dispute</th>
                                <th class="calc-col-5rem">Submitted On</th>
                                <th class="calc-col-5rem">Certified Entity / Arbitrator</th>
                                <th class="calc-col-5rem">Brief Preparer</th>
                                <th class="calc-col-5rem">Brief Writer</th>
                                <th class="calc-col-5rem">Brief Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of allBriefPreps" class="vertical-align-middle">
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" 
                                        (click)="markComplete(WorkQueueName.DisputeBriefPreparer,n)" 
                                        title="Mark this item as complete">
                                        Done!
                                    </button>
                                </td>
                                <td>
                                    <a [href]="'batch/'+n.id" title="Open Dispute" target="_blank">{{n.authority?.key?.toUpperCase()+' - '+n.authorityCaseId}}
                                    </a>
                                </td>
                                <td>{{n.submissionDate | date:'mediumDate'}}</td>
                                <td>{{n.arbitrator?.name}}</td>
                                <td>{{n.briefPreparerShort}}</td>
                                <td>{{n.briefWriterShort}}</td>
                                <td>{{n.BriefDueDate | date:'mediumDate'}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="!allBriefPreps.length">
                            <tr>
                                <td colspan="7">No Dispute Brief Preparations are assigned to you. Use the Pull Next button to get the next available item.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </ng-container>

        <!-- Brief Writer Queue -->
        <ng-container *ngIf="isBriefWriter">
            <div class="row mt-2 justify-content-between">
                <!-- Brief Writer (creation) -->
                <div class="d-flex mb-2 align-items-center">
                    <button class="btn btn-sm btn-outline-primary ms-1 me-1" type="button"
                        (click)="collapseDisputeBriefWriter.toggle()" [attr.aria-expanded]="!hideBriefWriter"
                        title="Toggle Brief Creation">
                        <i *ngIf="hideBriefWriter" class="bi bi-chevron-right"></i>
                        <i *ngIf="!hideBriefWriter" class="bi bi-chevron-down"></i>
                    </button>
                    <h6 class="mb-0">Dispute Brief Writer (creation) ({{allBriefCreations.length}} remaining)</h6>
                    <div class="col-auto margin-left-auto">
                        <button type="button" class="btn btn-sm btn-success me-2" [disabled]="allBriefCreations.length>=5"
                            (click)="getNextDispute(WorkQueueName.DisputeBriefWriter,undefined)"
                            title="Pull the next available Dispute that is ready for Brief creation">
                            <i class="bi bi-search"></i> Pull Next
                        </button>
                    </div>
                </div>
            </div>
            <div #collapseDisputeBriefWriter="ngbCollapse" [(ngbCollapse)]="hideBriefWriter">
                <div class="col table-responsive">
                    <table class="table table-sm font-small table-no-wrap table-normal-head bb-0">
                        <thead>
                            <tr class="bg-primary text-light fw-lighter">
                                <th>...</th>
                                <th class="calc-col-5rem">Dispute</th>
                                <th class="calc-col-5rem">Submitted On</th>
                                <th class="calc-col-5rem">Certified Entity / Arbitrator</th>
                                <th class="calc-col-5rem">Brief Preparer</th>
                                <th class="calc-col-5rem">Brief Writer</th>
                                <th class="calc-col-5rem">Brief Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of allBriefCreations">
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" 
                                        (click)="markComplete(WorkQueueName.DisputeBriefWriter,n)" 
                                        title="Mark this item as complete">
                                        Done!
                                    </button>
                                </td>
                                <td>
                                    <a [href]="'batch/'+n.id" title="Open Dispute" target="_blank">{{n.authority?.key?.toUpperCase()+' - '+n.authorityCaseId}}
                                    </a>
                                </td>
                                <td>{{n.submissionDate | date:'mediumDate'}}</td>
                                <td>{{n.arbitrator?.name}}</td>
                                <td>{{n.briefPreparerShort}}</td>
                                <td>{{n.briefWriterShort}}</td>
                                <td>{{n.BriefDueDate | date:'mediumDate'}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="!allBriefCreations.length">
                            <tr>
                                <td colspan="7">No Dispute Brief Creations are assigned to you. Use the Pull Next button to get the next available item.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </ng-container>

        <!-- Brief Approver Queue -->
        <ng-container *ngIf="isBriefApprover">
            <div class="row mt-2 justify-content-between">

                <div class="d-flex mb-2 align-items-center">
                    <button class="btn btn-sm btn-outline-primary ms-1 me-1" type="button"
                        (click)="collapseDisputeBriefApprover.toggle()" [attr.aria-expanded]="!hideBriefApprover"
                        title="Toggle Brief Approvals">
                        <i *ngIf="hideBriefApprover" class="bi bi-chevron-right"></i>
                        <i *ngIf="!hideBriefApprover" class="bi bi-chevron-down"></i>
                    </button>
                    <h6 class="mb-0">Dispute Briefs Needing Approval ({{allBriefApprovals.length}} remaining)</h6>
                    
                </div>
            </div>
            <div #collapseDisputeBriefApprover="ngbCollapse" [(ngbCollapse)]="hideBriefApprover">
                <div class="col table-responsive">
                    <table class="table table-sm font-small table-no-wrap table-normal-head bb-0">
                        <thead>
                            <tr class="bg-primary text-light fw-lighter">
                                <th>...</th>
                                <th class="calc-col-5rem">Dispute</th>
                                <th class="calc-col-5rem">Submitted On</th>
                                <th class="calc-col-5rem">Certified Entity / Arbitrator</th>
                                <th class="calc-col-5rem">Brief Preparer</th>
                                <th class="calc-col-5rem">Brief Writer</th>
                                <th class="calc-col-5rem">Brief Due Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of allBriefApprovals" class="vertical-align-middle">
                                <td>
                                    <button type="button" class="btn btn-sm btn-success" 
                                        (click)="markComplete(WorkQueueName.DisputeBriefApprover,n)" 
                                        title="Mark this item as complete">
                                        Done!
                                    </button>
                                </td>
                                <td>
                                    <a [href]="'batch/'+n.id" title="Open Dispute" target="_blank">{{n.authority?.key?.toUpperCase()+' - '+n.authorityCaseId}}
                                    </a>
                                </td>
                                <td>{{n.submissionDate | date:'mediumDate'}}</td>
                                <td>{{n.arbitrator?.name}}</td>
                                <td>{{n.briefPreparerShort}}</td>
                                <td>{{n.briefWriterShort}}</td>
                                <td>{{n.BriefDueDate | date:'mediumDate'}}</td>
                            </tr>
                        </tbody>
                        <tfoot *ngIf="!allBriefPreps.length">
                            <tr>
                                <td colspan="7">No Dispute Brief Preparations are assigned to you. Use the Pull Next button to get the next available item.</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </ng-container>
    </div> <!-- End Card Body -->
</div> <!-- End Card -->