<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col">
                    <h4>Template Builder</h4>
                    <p class="fs-6 fst-italic">Create dynamic, reusable text components that can be combined</p>
                </div>
                <div class="col-auto">
                    <button type="button" 
                        class="btn btn-sm btn-success text-light mb-2 me-2" 
                        (click)="openCriteria(content)">
                        <i class="bi bi-pencil-square"></i>
                        Edit Criteria
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <label class="form-label form-label-sm">*Component Name</label>
                    <input class="form-control form-control-sm" maxlength="100"
                        [(ngModel)]="name"
                        name="name"
                        aria-label="Component Name"
                        title="Enter an easy-to-recognize name that hints at where to use this component">
                </div>
                <div class="col-lg-6">
                    <label class="form-label form-label-sm">*Description</label>
                    <textarea class="form-control form-control-sm"
                        [(ngModel)]="description" maxlength="4096"
                        name="description" rows="2"
                        aria-label="Component Description"
                        title="Describe where to use this component and what it displays (up to 4k characters)"></textarea>   
                </div>
            </div>
        </div> 
    </div>

    <!-- HTML Wysiwig Editor -->

    <div class="row" *ngIf="canEdit">
        <div class="col">
            <angular-editor (keyup)="editorKeyUp($event)" [config]="editorConfig" [(ngModel)]="html"></angular-editor>
        </div>
    </div>
    <div class="row" *ngIf="!canEdit">
        <div class="col-12" [innerHTML]="html"></div>
    </div>

</div>

<!-- Side-out criteria drawer-->
<ng-template #content let-offcanvas>
    <form #criteriaForm="ngForm" (submit)="submitCriteria(criteriaForm)">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title">Component Criteria</h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        </div>
        <div class="offcanvas-body">
            <p class="fs-6 fst-italic">Set the conditions where this template is available</p>
            <div>
                <label class="form-label">*Component Type</label>
                <select name="componentType" 
                    [(ngModel)]="componentType" 
                    class="form-select form-select-sm"
                    autocomplete="off"
                    aria-label="Template Type" 
                    required
                    title="Type of template component">
                    <option [ngValue]="''" selected disabled>Select</option>
                    <option>Arbitration Brief</option>
                    <option>Benchmarking Details</option>
                    <option>Conclusion</option>
                    <option>Counter Arguments</option>
                    <option>Discloserus</option>
                    <option>Fact Sheet</option>
                    <option>Fair Health History Graphic</option>
                    <option>Informal Settlement Discussion</option>
                    <option>Payor Position Response Statement</option>
                    <option>Petition</option>
                    <option>Provider CV</option>
                    <option>Provider Position Statement</option>
                    <option>Senate Bill Quotes</option>
                </select>
            </div>
            <!--
            <div class="mt-2">
                <label class="form-label">Authorities</label>
                <select name="authority" 
                [(ngModel)]="authority" 
                class="form-select form-select-sm" 
                autocomplete="off"
                aria-label="Authority" 
                required 
                title="Regulatory juristiction such as Texas">
                <option [ngValue]="'*'" disabled selected>All</option>
                <option *ngFor="let s of allAuthorities" [ngValue]="s.key">{{s.name}}</option>
                </select>
            </div>
            -->
            <div class="p-1 mt-4 multi-select-container">
                <label class="form-label">Authorities</label>
                <div class="multi-select">
                    <div class="form-check form-check-inline" *ngFor="let c of allAuthorities">
                        <input class="form-check-input me-1"  title="{{c.name}}"
                            (change)="enforceMultiRules(c,allAuthorities)"
                            type="checkbox" 
                            [(ngModel)]="c.isSelected" 
                            name="authority_{{c.id}}" 
                            aria-label="Select to include">
                        <span class="form-check-label">{{c.name}}</span>
                    </div>
                </div>
            </div>

            <div class="mt-3 multi-select-container">
                <label class="form-label">Customers</label>
                <div class="multi-select">
                    <div class="form-check form-check-inline" *ngFor="let c of allCustomers">
                        <input class="form-check-input me-1" title="{{c.name}}"
                            (change)="enforceMultiRules(c,allCustomers)"
                            type="checkbox" 
                            [(ngModel)]="c.isSelected" 
                            name="customer_{{c.id}}" 
                            aria-label="Select to include">
                        <span class="form-check-label">{{c.name}}</span>
                    </div>
                </div>
            </div>

            <div class="mt-3 multi-select-container">
                <label class="form-label">Entities</label>
                <div class="multi-select">
                    <div class="form-check form-check-inline" *ngFor="let c of allEntities">
                        <input class="form-check-input me-1" title="{{c.name}}" 
                            (change)="enforceMultiRules(c,allEntities)"
                            type="checkbox" 
                            [(ngModel)]="c.isSelected" 
                            name="entity_{{c.id}}" 
                            aria-label="Select to include">
                        <span class="form-check-label">{{c.name}}</span>
                    </div>
                </div>
            </div>

            <div class="p-1 mt-3 multi-select-container">
                <label class="form-label">Payors</label>
                <div class="multi-select">
                    <div class="form-check form-check-inline" *ngFor="let c of allPayors">
                        <input class="form-check-input me-1" title="{{c.name}}" 
                            (change)="enforceMultiRules(c,allPayors)"
                            type="checkbox" 
                            [(ngModel)]="c.isSelected" 
                            name="payor_{{c.id}}" 
                            aria-label="Select to include">
                        <span class="form-check-label">{{c.name}}</span>
                    </div>
                </div>
            </div>
            <div class="mt-3">
                <label class="form-label mb-0"><b>Procedure Codes</b></label>
                <p class="fs-7 fst-italic">Matches when the Claim contains any of these codes</p>
                <input class="form-control form-control-sm"
                    aria-label="Procedure Codes"
                    [(ngModel)]="procedureCodes" 
                    name="procedureCodes"
                    pattern="[a-zA-Z0-9;]*"
                    title="Procedure codes separated with a semi-colon">
            </div>
            <div class="text-end mt-5">
                <button type="submit" class="btn btn-outline-success" 
                    [disabled]="!criteriaForm.valid">
                    <i class="bi bi-save"></i>
                    Save
                </button>
                <!-- (click)="offcanvas.close('Close click')" -->
            </div>
        </div>
    </form>
</ng-template>
