<div class="card">
    <div class="card-header justify-content-between d-flex">
        <h4 class="col">Batch Builder</h4>
        <div class="col-auto">
            <!-- Authority -->
            <div class="input-group">
                <span class="input-group-text bg-success text-white">Filing Authority</span>
                <select class="form-select bg-required" 
                    name="authority"
                    [(ngModel)]="filters.authorityKey" 
                    (change)="authorityChange()"
                    aria-label="Filing Authority" 
                    title="The Authority / jurisdiction where the case will be adjudicated">
                    <option value="" disabled>Select...</option>
                    <option *ngFor="let s of allAuthorities" [ngValue]="s.key">{{s.name}}</option>
                </select>
            </div>
        </div>
        <div>
            <!--Future button bar
            <button type="button" class="btn btn-success me-2" [disabled]="!canReset"
                (click)="saveClick()">Export</button>
            <button type="button" class="btn btn-success me-2" [disabled]="!canReset" (click)="saveClick()">Save
                Report</button>
            <button type="button" class="btn btn-outline-info me-2" [disabled]="!canReset"
                (click)="variablesClick()">Variables</button>
            <button type="button" class="btn btn-outline-danger me-2" [disabled]="!canReset"
                (click)="resetClick()">Reset</button>
            -->
        </div>
    </div>
    <div class="card-body">
        <div class="card-title">
            <h5>
                Find CPTs to Batch
                <button type="button" class="btn btn-sm btn-outline-success"
                    (click)="showHelp=!showHelp"  
                    title="Click to view details about how the criteria works">
                    <i class="bi bi-question-lg"></i>
                </button>
            </h5>
            <!-- <p class="small text-primary"><i>Unsettled, Without Active Case Numbers</i></p> -->
        </div>
        
        <p *ngIf="showHelp">
            <i>
                For the NSA authority, only Claims that have an NSA Status of 'Submitted NSA Negotiation Request' are eligible.<br />
                Only Customers with Claims that are in this Status will appear.<br />
                In other words, values that are guaranteed not to produce results are eliminated.<br />
                Furthermore, each criteria field (Customer, Entity, etc) further narrows down Claims that <br />
                have at least one CPT code marked as Is Eligible and not attached to any other Active or Settled Dispute.<br />
                NOTE: Settled could mean Ineligible.
            </i>
        </p>

        <!-- Stuff for making new Disputes - not yet needed according to business
        <div class="row">
            <div class="col-12">
                <form #batchForm="ngForm" id="ngForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
                    <fieldset [disabled]="!filters.authorityKey">
                        <div class="row">
                            <div class="col-4">
                                -- Customer --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Customer</span>
                                    <select class="form-select form-select-sm"  
                                        name="customerId"
                                        [(ngModel)]="filters.customerId" 
                                        (change)="customerChange()"
                                        aria-label="Customer" title="The owner of the claim">
                                        <option [ngValue]="null" disabled>Select...</option>
                                        <option *ngFor="let s of allCustomers" [ngValue]="s.id">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                -- Entity --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Entity</span>
                                    <select class="form-select form-select-sm"  
                                    name="entityNPI"
                                    [disabled]="!currentCustomer||!currentCustomer.id"
                                    [(ngModel)]="filters.entityNPI" 
                                    (change)="entityChange()"
                                    aria-label="Entity" title="The Entity who performed the services">
                                    <option value="" disabled>Select...</option>
                                    <option *ngFor="let s of allEntities" [ngValue]="s.NPINumber">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                -- ProviderNPI (prime) --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Provider NPI</span>
                                    <select class="form-select form-select-sm"  
                                        name="providerNPI"
                                        [disabled]="!currentEntity"
                                        [(ngModel)]="filters.providerNPI" 
                                        (change)="providerChange()"
                                        aria-label="Payor" title="The Provider (physician)">
                                        <option value="" disabled>Select...</option>
                                        <option *ngFor="let s of allProviders" [ngValue]="s.providerNPI">{{s.providerName + ' ('+s.providerNPI+')'}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4">
                                -- Payor (prime) --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Payor (prime)</span>
                                    <select class="form-select form-select-sm" 
                                        name="payorId"
                                        [disabled]="!filters.providerNPI"
                                        [(ngModel)]="filters.payorId" 
                                        (change)="payorChange()"
                                        aria-label="Payor" title="The Payor (carrier) of the claims">
                                        <option [ngValue]="null" disabled>Select...</option>
                                        <option *ngFor="let s of allPayors" [ngValue]="s.id">{{s.name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                -- Days until First Deadline --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Days until Open Request Deadline</span>
                                    <input type="text" class="form-control" 
                                        name="daysTilDeadline" 
                                        disabled
                                        (change)="daysChange()"
                                        [(ngModel)]="filters.daysTilDeadline"
                                        aria-label="Days until deadline"
                                        title="Days until NSA Deadline">
                                </div>
                            </div>
                            
                            <div class="col-4">
                                -- CPT Code -- 
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Procedure Code</span>
                                    <select class="form-select form-select-sm"  
                                        name="procedureCode"
                                        [disabled]="!claimCPTs.length"
                                        (change)="cptChange()"
                                        [(ngModel)]="filters.procedureCode" 
                                        aria-label="Payor" title="Procedure Codes appearing on one or more matching claims">
                                        <option [ngValue]="''" disabled>Select...</option>
                                        <option *ngFor="let s of claimCPTs" [ngValue]="s.cptCode">{{s.cptCode + ' ('+s.count+')'}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-4">
                                -- GeoZip Prefix --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">GeoZip Prefix</span>
                                    <select class="form-select form-select-sm"  
                                        name="geoZip"
                                        [disabled]="!allGeoZips.length"
                                        [(ngModel)]="filters.geoZip" 
                                        (change)="geozipChange()"
                                        aria-label="GeoZip Prefix" 
                                        title="GeoZip prefix">
                                        <option value="" disabled>Select...</option>
                                        <option *ngFor="let s of allGeoZips" [ngValue]="s">{{s}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                -- Plan Type --
                                <div class="input-group input-group-sm">
                                    <span class="input-group-text">Plan Type</span>
                                    <select class="form-select form-select-sm"  
                                        name="planType"
                                        [disabled]="!allPlanTypes.length"
                                        [(ngModel)]="filters.planType" 
                                        (change)="planTypeChange()"
                                        aria-label="Plan Type" 
                                        title="Plan Type">
                                        <option [ngValue]="''" disabled>Select...</option>
                                        <option *ngFor="let p of allPlanTypes" [ngValue]="p">{{p}}</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        -->
        
        <!-- CPTs attached to Dispute -->
        <div class="row">
            <div class="col">
                <hr />
                <h5 class="mt-2">Procedure Codes / CPTs in this Dispute</h5>
                <div class="card-body d-flex flex-column flex-auto">
                    <div class="table-responsive flex-auto">
                        <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm batch-search font-small">
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>