<header>
  <h5
    *ngIf="isTestEnv"
    class="bg-warning text-center text-light"
    [ngClass]="{
      'bg-dark': domainName.toLowerCase().indexOf('qa') > -1,
      'bg-warning': domainName.toLowerCase().indexOf('qa') < 0
    }"
  >
    This is the {{ domainName }} environment
  </h5>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-1"
  >
    <div class="container-fluid flex-row">
      <img
        src="../../assets/images/arbit-logo-2.png"
        height="64"
        alt="MPowerHealth"
      />
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow w-100">
          <li
            class="nav-item me-2"
            *ngIf="isActive"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-primary" [routerLink]="['/', 'search']"
              >Search</a
            >
          </li>

          <li
            ngbDropdown
            class="nav-item ms-2"
            *ngIf="isActive && (isManager || isNegotiator)"
          >
            <a
              class="nav-link text-primary"
              (click)="(false)"
              ngbDropdownToggle
            >
              Create
            </a>
            <div ngbDropdownMenu>
              <a
                ngbDropdownItem
                [routerLink]="['/calculator']"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }"
                >New Claim</a
              >
              <!--
                <a ngbDropdownItem *ngIf="isNSA" [routerLink]="['/batch']"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{exact:true}">New Dispute</a>
                  -->
            </div>
          </li>
          <li
            *ngIf="isAdmin || isManager"
            class="nav-item ms-2"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-primary" [routerLink]="['/upload']"
              >Upload</a
            >
          </li>

          <li ngbDropdown class="nav-item ms-2" *ngIf="isActive">
            <a
              class="nav-link text-primary"
              (click)="(false)"
              ngbDropdownToggle
            >
              Work Queues
            </a>
            <div ngbDropdownMenu>
              <a
                *ngIf="showMyItems"
                ngbDropdownItem
                [routerLink]="['/todo']"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                My ToDo List
              </a>
              <a
                ngbDropdownItem
                [routerLink]="['/notifications']"
                [routerLinkActive]="['link-active']"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                NSA Notifications
              </a>
            </div>
          </li>

          <li
            class="nav-item ms-3"
            *ngIf="isActive"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a
              rel="noopener"
              class="nav-link text-primary"
              title="Report an issue or offer suggestions and ideas"
              target="_blank"
              href="https://requests.mpowerpractice.net/usmonadmin/Tickets/New"
              >Help!
            </a>
          </li>
          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, Wade
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              
              <li><a class="dropdown-item" href="#" (click)="login()" *ngIf="!loggedIn">Login</a></li>
              <li><a class="dropdown-item" href="#" (click)="logout()" *ngIf="loggedIn">Logout</a></li>
              
            </ul>            
          </li>
          -->

          <!-- <li class="ms-4">
            <button class="btn btn-primary" (click)="login()" *ngIf="!loggedIn">Login</button>
            <button class="btn btn-primary" (click)="logout()" *ngIf="loggedIn">Logout</button>
          </li> -->
          <li *ngIf="loggedIn" class="navbar-nav">
            <div class="mt-2 ms-3">
              <div
                class="input-group input-group-sm d-flex justify-content-end"
              >
                <span class="input-group-text">Go to:</span>
                <input
                  type="text"
                  class="form-control form-control-sm ar-tiny-input"
                  autocomplete="off"
                  (change)="jumpIdOrDisputeChange()"
                  name="jumpId"
                  [(ngModel)]="jumpId"
                  placeholder="Case or Dispute ID"
                  aria-placeholder="Case or Dispute ID"
                  title="Type a record number and press Enter"
                />
              </div>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav flex-grow me-4">
          <li
            *ngIf="!loggedIn"
            ngbDropdownItem
            style="padding-top: 10px; padding-right: 10px; cursor: pointer"
          >
            <a (click)="login()">Login</a>
          </li>
          <li ngbDropdown class="nav-item margin-left-auto">
            <a
              class="nav-link"
              (click)="(false)"
              ngbDropdownToggle
              [title]="useremail"
            >
              {{ username }}
            </a>

            <div ngbDropdownMenu>
              <ng-container *ngIf="isManager || isAdmin">
                <a
                  *ngIf="isManager || isAdmin"
                  ngbDropdownItem
                  [routerLink]="['/mde']"
                  [routerLinkActive]="['link-active']"
                  [routerLinkActiveOptions]="{ exact: true }"
                >
                  Data Exceptions
                </a>
              </ng-container>
              <ng-container *ngIf="isActive && (isAdmin || isManager)">
                <a ngbDropdownItem [routerLink]="['/', 'importconfig']"
                  >Import Configuration</a
                >
                <!-- <div class="dropdown-divider"></div> -->
              </ng-container>
              <a *ngIf="isActive" ngbDropdownItem [routerLink]="['/', 'arbs']"
                >{{ isAdmin || isManager ? "Manage" : "View" }} Arbitrators</a
              >
              <ng-container *ngIf="isActive && (isAdmin || isManager)">
                <a [routerLink]="['/authorities']" ngbDropdownItem>Manage Authorities</a>
                <a [routerLink]="['/benchmarks']" ngbDropdownItem>Manage Benchmarks</a>
                <a [routerLink]="['/customers']" ngbDropdownItem>Manage Customers</a>
                <a [routerLink]="['/formulas']" ngbDropdownItem>Manage Formulas</a>
                <a [routerLink]="['/payors']" ngbDropdownItem>Manage Payors</a>
                <a [routerLink]="['/users']" ngbDropdownItem>Manage Users</a>
                <!-- Proof of Concept for Wade only -->
                <a *ngIf="
                    !!currentUser &&
                    currentUser.email.startsWith('developerEmail')
                  "
                   [routerLink]="['/docparser']"
                   ngbDropdownItem>Parse EMR Document</a>
                <a *ngIf="
                    !!currentUser &&
                    currentUser.email.startsWith('developerEmail')
                  "
                   [routerLink]="['/templates']"
                   ngbDropdownItem>Template Maker</a>
              </ng-container>
              <a *ngIf="isActive" [routerLink]="['/disputes']" ngbDropdownItem>Disputes UI</a>
              <a *ngIf="isActive" [routerLink]="['/sysinfo']" ngbDropdownItem>System Info</a>
              <div class="dropdown-divider"></div>
              <button ngbDropdownItem (click)="logout()" *ngIf="loggedIn">
                Logout
              </button>
              <div class="dropdown-divider"></div>
              <div ngbDropdownItem>v{{ currentApplicationVersion }}</div>
            </div>
          </li>
        </ul>
      </div>
      <img
        src="../../assets/images/halomd-logo.png"
        height="32"
        alt="MPowerHealth"
      />
    </div>
  </nav>
</header>
