<div class="card">
    <div class="card-header">
        <h3>Upload Case and Supporting Data</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <div class="row row-cols-1">
                    <h6 class="m-0">
                        <label for="authority" class="form-label">Data Source</label>
                    </h6>
                    <!-- Data Source (Authority) -->
                    <div class="input-group input-group-sm mb-1">
                        <select name="authority" class="form-select form-select-sm" 
                            [(ngModel)]="authority"
                            (change)="authorityChange()"
                            aria-label="Authority" title="Select the Authority that is providing this information">
                            <option [ngValue]="''" disabled selected>Select...</option>
                            <option *ngFor="let s of allAuthorities" [ngValue]="s.key">{{s.name}}</option>
                        </select>
                    </div> 
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <button type="button" class="btn btn-sm btn-success" 
                        [disabled]="!fileSelected() || !authority || !canUpload"
                        (click)="upload()">Upload</button>
                    </div>
                </div>
            </div>
        
            <div class="col-sm-6 col-lg-4 col-xl-3">
                <h6 class="m-0">
                    <label for="summaryFile" class="form-label">Select .csv file...</label>
                </h6>
                <input [disabled]="!authority || !canUpload" (change)="fileSelectionChanged()" class="form-control-file" type="file" #summaryFile id="summaryFile"> <!-- (change)="upload($event)"-->
            </div>
            <div *ngIf="!!currentJob" class="col">
                <div class="card">
                    <div class="card-header"><h6>Current Job Status {{currentJob.jobStatus.lastUpdated | date:'medium'}}</h6></div>
                    <div class="card-body">
                        <p class="fs-6">Filename: {{currentFilename}}</p>
                        <p class="fs-6">{{currentJob.jobStatus.status.toUpperCase()}} - {{currentJob.jobStatus.recordsProcessed}} of {{currentJob.jobStatus.totalRecords}}</p>
                        <p class="fs-6" [innerHTML]="jobMessage"></p>
                    </div>
                </div>
            </div>
            <div *ngIf="!currentJob&&!!currentFilename" class="col">
                <div class="card">
                    <h6 class="card-header">Job Status</h6>
                    <div class="card-body">
                        <p>Last file: {{currentFilename}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col d-flex align-items-middle justify-content-between">
                <h6>Recent Log files</h6>
                <button type="button" class="btn btn-sm btn-success" 
                            [disabled]="!authority"
                            (click)="refreshLogFiles()">
                            <i class="bi bi-arrow-clockwise"></i>
                            Refresh
                </button>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col table-responsive">
              <table class="table table-sm font-small table-no-wrap table-normal-head bb-0">
                <thead>
                  <tr>
                    <th>Filename</th>
                    <td>Upload Date</td>
                    <td>Uploaded By</td>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of allLogs">
                        <td class="td-tight">
                        <button type="button" class="btn btn-sm btn-link btn-modal" (click)="viewFile(f)" [title]="'View '+f.blobName">
                            {{f.blobName}}
                            </button>
                        </td>
                        <td class="td-tight">{{f.batchUploadDate | date:'medium'}}</td>
                        <td class="td-tight">{{f.uploadedBy}}</td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="loading-2" *ngIf="isLoading">
                <p>Loading log files...</p>
                <div class="uil-ring-css" style="transform:scale(0.79);">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<h4 *ngIf="isLoading">
    <span class="spinner-border" role="status" aria-hidden="true"></span>
    Loading...
</h4> 
-->
<!-- Modal -->
<ng-template #loadResult let-modal>

    <div class="modal-header text-light" [ngClass]="{'bg-success':!isError,'bg-danger':isError}">
        <h5 class="modal-title">{{loadTitle}}</h5>
        <button type="button" class="btn btn-close btn-close-white" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        {{loadMessage}}
    </div>

</ng-template>
