<div class="modal-header bg-info text-light">
    <h4 class="modal-title">Add a Payor Negotiator</h4>
    <button type="button" 
    (click)="activeModal.dismiss('dismiss click')"
    class="btn-close"
    title="Save Contact">
  </button>
</div>
        
<div class="modal-body">
    <form #negoForm="ngForm" id="ngForm" novalidate="novalidate">
        <div class="mb-3">
            <label for="payorName" class="form-label">Payor</label>
            <input type="text" readonly class="form-control form-control-sm" 
            [(ngModel)]="payorName" name="payorName" id="payorName">
        </div>
        <div class="mb-3">
            <label for="organization" class="form-label">* Organization</label>
            <input type="text" required class="form-control form-control-sm" 
            [(ngModel)]="contact.organization" name="organization" id="organization">
        </div>
        <div class="mb-3">
            <label for="name" class="form-label">* Name</label>
            <input type="text" required class="form-control form-control-sm" 
            [(ngModel)]="contact.name" name="name" id="name">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control form-control-sm" 
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,5}$"
            [(ngModel)]="contact.email" name="email" id="email">
        </div>
        <div class="mb-3">
            <label for="phone" class="form-label">Phone</label>
            <input type="text" class="form-control form-control-sm" 
            [(ngModel)]="contact.phone" maxlength="20" name="phone" id="phone">
        </div>
        <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea class="form-control form-control-sm" 
            [(ngModel)]="contact.notes" name="notes" id="notes" rows="3"></textarea>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" [disabled]="!negoForm.form.valid" 
    class="btn btn-sm btn-success" 
    (click)="activeModal.close(contact)"
    title="Add Contact">
    <i class="bi bi-save"></i> Add Negotiator
  </button>
</div>
  
