<div class="modal-header bg-info text-light">
    <h4 class="modal-title">{{name}} {{feeType}} Fee</h4>
    <button type="button" 
    (click)="activeModal.dismiss('dismiss click')"
    class="btn-close"
    title="Close">
  </button>
</div>
        
<div class="modal-body">
    <form #feeForm="ngForm" id="ngForm" novalidate="novalidate">
        <div class="mb-3 row">
            <div class="col">
                
                <!-- Fee Name -->
                <div class="input-group mb-2">
                    <label for="feeName" class="input-group-text col-4">Fee Name</label>
                    <input class="form-control form-control-sm" type="text" 
                        required
                        autocomplete="off"
                        (focus)="selectAll($event)" 
                        [(ngModel)]="fee.feeName" 
                        name="feeName" id="feeName">
                </div>

                <div class="input-group mb-2">
                    <label class="input-group-text col-4" for="feeType">* Fee Type</label>
                    <select class="form-select"
                        id="feeType"
                        name="feeType"
                        autocomplete="off"
                        [(ngModel)]="fee.feeType"
                        required
                        title="The Fee Type can affect calculation of fees">
                        <option [ngValue]="null" disabled>Select...</option>
                        <option *ngFor="let t of allFeeTypes" [ngValue]="t.id">{{t.key}}</option>
                    </select>
                </div>
                
                <!-- Size Min -->
                <div class="input-group mb-2" *ngIf="fee.feeType===FeeType.BatchSize || fee.feeType===FeeType.ClaimSize">
                    <label for="sizeMin" class="input-group-text col-4">Min Size</label>
                    <input class="form-control form-control-sm" type="number" 
                        min="0"
                        (focus)="selectAll($event)" 
                        autocomplete="off"
                        [(ngModel)]="fee.sizeMin" 
                        name="sizeMin" id="sizeMin">
                </div>
                
                <!-- Size Max -->
                <div class="input-group mb-2" *ngIf="fee.feeType===FeeType.BatchSize || fee.feeType===FeeType.ClaimSize">
                    <label for="sizeMax" class="input-group-text col-4">Max Size</label>
                    <input class="form-control form-control-sm" type="number" 
                        min="0"
                        (focus)="selectAll($event)" 
                        autocomplete="off"
                        [(ngModel)]="fee.sizeMax" 
                        name="sizeMax" id="sizeMax">
                </div>

                <!-- Fee Amount -->
                <div class="input-group mb-0">
                    <label for="feeAmount" class="input-group-text col-4">Fee Amount</label>
                    <input class="form-control form-control-sm" type="number" 
                        required pattern="\d*"
                        min="1"
                        (focus)="selectAll($event)" 
                        autocomplete="off"
                        [(ngModel)]="fee.feeAmount" 
                        name="feeAmount" id="feeAmount">
                </div>
                <div class="row">
                    <div class="offset-4 col">
                        <span class="text-danger text-small"><i>whole dollars only</i></span>
                    </div>
                </div>
                <!-- Is Active -->
                <div class="input-group mb-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                            [(ngModel)]="fee.isActive"
                            name="isActive" 
                            id="isActive">
                        <label class="form-label" for="isActive">Is Active?</label>
                    </div>
                </div>
                
                <!-- Is Refundable -->
                <div class="input-group mb-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                            [(ngModel)]="fee.isRefundable"
                            name="isRefundable" 
                            id="isRefundable">
                        <label class="form-label" for="isRefundable">Is Refundable?</label>
                    </div>
                </div>
                
                <!-- Is Required -->
                <div class="input-group mb-1">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" 
                            [(ngModel)]="fee.isRequired"
                            name="isRequired" 
                            id="isRequired">
                        <label class="form-label" for="isRequired">Is Required?</label>
                    </div>
                </div>
                
                <!-- Due Days (max 10 years because...seriously) -->
                <div class="input-group mb-2">
                    <label for="dueDaysAfterColumnName" class="input-group-text col-7">Days Due After Starting Date</label>
                    <input class="form-control form-control-sm" type="number" 
                        (focus)="selectAll($event)" 
                        max="3650"
                        autocomplete="off"
                        [(ngModel)]="fee.dueDaysAfterColumnName" 
                        name="dueDaysAfterColumnName" id="dueDaysAfterColumnName">
                </div>

                <!-- Due Day Type -->
                <div class="input-group mb-2">
                    <label class="input-group-text col-7" for="dueDayType">Deadline Day Type</label>
                    <select class="form-select"
                        id="dueDayType"
                        name="dueDayType"
                        [(ngModel)]="fee.dueDayType"
                        title="Deadline calculations based on Calendar Days or Work Days?">
                        <option *ngFor="let t of allDeadlineTypes" [ngValue]="t.id">{{t.key}}</option>
                    </select>
                </div>

                <!-- Reference Column Name -->
                <div class="input-group mb-2">
                    <label class="input-group-text col-7" for="referenceColumnName">Starting Date Fieldname</label>
                    <select class="form-select"
                        id="referenceColumnName"
                        name="referenceColumnName"
                        [(ngModel)]="fee.referenceColumnName"
                        [required]="!!fee.dueDaysAfterColumnName"
                        title="The base date field used when calculating the deadline">
                        <option value="">Select...</option>
                        <option value="SubmissionDate">Dispute Submission Date</option>
                    </select>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button type="button" [disabled]="!feeForm.form.valid" 
    class="btn btn-success" 
    (click)="activeModal.close(fee)"
    title="Add Offer">
    <i class="bi bi-save"></i> {{!!fee.id?'Update':'Add'}} Fee
  </button>
</div>

