<div class="card">
    <div class="card-header">
        <div class="row">
            <h4 class="col">Manage Payors
                <button type="button" class="btn btn-sm btn-outline-success ms-1"
                    (click)="showHelp=!showHelp"  
                    title="Click to toggle the criteria for sending NSA request submissions">
                    <i class="bi bi-question-lg"></i>
                </button>
            </h4>
            <div class="col text-right">
                <button type="button" *ngIf="!payorForm.dirty"
                    (click)="showUpload=!showUpload"
                    class="btn btn-sm justify-self-start ms-4" 
                    [disabled]="!isAdmin&&!isManager"
                    [ngClass]="{'btn-primary':!showUpload,'btn-warning':showUpload}"
                    title="Cancel">
                    <i *ngIf="!showUpload" class="bi bi-upload"></i> {{showUpload?'Cancel Upload':'Upload Payor Groups'}}
                </button>
                <button *ngIf="canEdit" type="button" 
                    (click)="addPayor()" class="btn btn-sm btn-success ms-3"
                    [disabled]="payorForm.dirty"
                    title="Add a new Payor">
                    <i class="bi bi-plus"></i> Add Payor
                </button>
            </div>
        </div>
        
        <p *ngIf="showHelp"><i>
            How Payors are Used:<br/>
            1. Payors that differ only in spelling (i.e. same federal tax id) should roll up under one Parent<br/>
            2. Payors that have similar names but are distinct corporate entities should likely be separate<br/>
            3. The list of Payors on the Calculator page will show ALL Payors and Aliases (so it can match imported data)<br/>
            4. Highlighted (orange) Payors in the drop-down list below are NOT configured with an NSA Email Address<br/>
            5. Case Settlements will always post to the Parent payor, not an Alias<br/>
            6. When a Payor is selected on the Search screen, records matching the Payor <u>OR</u> an Alias are returned<br/>
            7. Payor Group Exclusions (including Authority-level exclusions) apply to the Parent and all Aliases<br/>
            8. Similarly, importing Payor Groups to a Payor or Alias will associate them to both Parent and ALL Aliases<br/>
            9. Support files for Notifications must be attached both to the Parent AND ALL Aliases that send Notifications<br/>
            </i>
        </p>
    </div>
    <div class="card-body">
        <form #payorForm="ngForm" (ngSubmit)="onSubmit()" novalidate="novalidate">
            <div class="row">
                <div class="col-auto">
                    <!-- Payor -->
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col-5">Select a Payor...</span>
                        <select class="form-select form-select-sm me-2" 
                            name="currentPayor" 
                            [(ngModel)]="currentPayorId"
                            (change)="payorChange()" aria-label="Payor"
                            title="Payor is typically the insurance company, healthcare plan or responsible party">
                            <option [ngValue]="0" selected disabled>Select...</option>
                            <option *ngFor="let s of allPayors" [ngValue]="s.id" [ngClass]="{'bg-warning':!s.NSARequestEmail||!s.sendNSARequests}">{{s.name}}</option>
                        </select>
                    </div>
                    <p *ngIf="currentPayor?.NSARequestEmail===''||currentPayor?.sendNSARequests===false"><i>* NSA Notifications not configured!</i></p>
                </div>
            </div>

            <!-- Upload Groups -->
            <div class="card mt-2" *ngIf="showUpload">
                <div class="card-header">
                    <h6>Upload Payor Group Info</h6>
                    <p class="font-small">CSV specification: payorName, groupName, groupNumber, isNSAIneligible, isStateIneligible, planType</p>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <h6 class="m-0">
                                <label for="groupsFile" class="form-label">Select .csv file...</label>
                            </h6>
                            <input (change)="fileSelectionChanged()" 
                                class="form-control-file" 
                                type="file" 
                                #groupsFile 
                                id="groupsFile">
                        </div>
                    </div>
                </div>
                <div class="form-footer">
                    <div class="row pb-2">
                        <div class="col text-right">
                            <button type="button" 
                                (click)="uploadGroups()"
                                [disabled]="!fileSelected()"
                                class="btn btn-sm btn-success me-4" 
                                title="Begin Upload">
                                <i class="bi bi-upload"></i> Begin Upload
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Configuration Section -->
            <div class="row mt-4 justify-content-between" *ngIf="!!currentPayor">
                <div class="col-auto">
                    <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                        (click)="collapseConfiguration?.toggle()" [attr.aria-expanded]="!hideConfiguration" 
                        title="Toggle Payor Configuration section">
                        <i *ngIf="hideConfiguration" class="bi bi-chevron-right"></i>
                        <i *ngIf="!hideConfiguration" class="bi bi-chevron-down"></i>
                    </button>
                </div>
                <h6 class="col">Configuration</h6>
                <div class="col-auto">
                    <!-- Form buttons -->
                    <div class="col-auto">
                        <button type="button" class="btn btn-sm btn-secondary" [disabled]="!payorForm.dirty"
                        (click)="cancelChanges()" aria-label="Cancel">Cancel</button>
                    <button type="submit" class="btn btn-sm btn-success ms-2"
                        [disabled]="!payorForm.valid||!payorForm.dirty" 
                        aria-label="Save Authority Changes">Save Changes</button>
                    </div>
                </div>
            </div>

            <div class="card mt-2" #collapseConfiguration="ngbCollapse" [(ngbCollapse)]="hideConfiguration">
                <div class="card-body" *ngIf="!!currentPayor">
                    <div class="row">
                        <div class="col-auto">    
                            <!-- Parent Payor -->
                            <div class="input-group input-group-sm">
                                <span class="input-group-text col-auto">Parent Record</span>
                                <select class="form-select form-select-sm" 
                                    name="parentId"
                                    [(ngModel)]="currentPayor.parentId"
                                    (change)="parentPayorChange()"
                                    aria-label="Parent Record"
                                    title="Select a Parent record if this spelling of the Payor name is just an alias">
                                    <option [ngValue]="null" selected disabled>Select...</option>
                                    <!-- <option [value]="0">(self)</option> -->
                                    <option [ngValue]="currentPayor.id">(self)</option>
                                    <ng-container *ngFor="let s of allPayors">
                                        <option *ngIf="s.id !== currentPayor.id" [ngValue]="s.id">{{s.name}}</option>
                                    </ng-container>
                                </select>
                            </div>
                            <p class="fs-6 fst-italic">For the Payor you want to use for reporting (the 'roll-up' Payor), choose (self).</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <!-- Is Active -->
                            <div class="input-group input-group-sm">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="currentPayor.isActive"
                                        name="isActive" id="isActive" title="Is this an active Payor?"
                                        aria-label="Is Active">
                                    <label class="form-check-label" for="isDefault">Is Active</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- NSARequestEmail -->
                        <div class="col">
                            <div class="input-group input-group-sm mt-2">
                                <span class="input-group-text col-auto">NSA Open Eligibility Email</span>
                                <input type="email" class="form-control" 
                                    [(ngModel)]="currentPayor.NSARequestEmail"
                                    [required]="currentPayor.sendNSARequests"                                    
                                    aria-label="NSA Request Email" name="NSARequestEmail"
                                    title="Send all NSA Eligibility requests to these addresses.">
                            </div>
                            <p class="fs-6 fst-italic">Separate multiple addresses with semi-colons (;)</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto">
                            <!-- Send NSA Email Requests? -->
                            <div class="input-group mt-2 mb-2">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox"
                                        [(ngModel)]="currentPayor.sendNSARequests" name="sendNSARequests"
                                        id="sendNSARequests" aria-label="Send NSA Emails"
                                        title="Should the system send NSA Eligibility requests for this Payor?">
                                    <label class="form-check-label" for="sendNSARequests">Send NSA Eligibility Emails?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Room to grow... 
                    <div class="row mt-2">
                        <div class="col d-flex justify-content-end pe-15">
                            
                        </div>
                    </div>
                    -->
                </div>
            </div>    
        </form>
        
        <!-- Addresses -->
        <div class="row mt-2" *ngIf="!!currentPayor&&currentPayor.id===currentPayor.parentId">
            <hr *ngIf="hideConfiguration" />
            <div class="d-flex mb-2">
                <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                    (click)="collapseAddresses.toggle()" [attr.aria-expanded]="!hideAddresses" 
                    title="Toggle Address List">
                    <i *ngIf="hideAddresses" class="bi bi-chevron-right"></i>
                    <i *ngIf="!hideAddresses" class="bi bi-chevron-down"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{currentPayor.addresses.length}}
                    </span>
                </button>

                <h6 class="ms-2 m-auto position-relative">Contact Information</h6>
            </div>

            <hr *ngIf="!!currentPayor" />

            <div #collapseAddresses="ngbCollapse" [(ngbCollapse)]="hideAddresses">
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-sm table-normal-head font-smaller">
                            <thead>
                                <tr>
                                    <th *ngIf="isAdmin||isManager">...</th>
                                    <th>Address Type</th>
                                    <th>Name</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Address 1</th>
                                    <th>Address 2</th>
                                    <th>City</th>
                                    <th>State</th>
                                    <th>Zip</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let g of currentPayor.addresses">
                                    <td *ngIf="isAdmin||isManager">
                                        <button type="button" class="btn btn-sm btn-danger" 
                                            (click)="deleteAddress(g)"
                                            title="Remove this Address from the Payor.">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                    <td>{{g.addressType}}</td>
                                    <td>{{g.name}}</td>
                                    <td>{{g.phone}}</td>
                                    <td>{{g.email}}</td>
                                    <td>{{g.addressLine1}}</td>
                                    <td>{{g.addressLine2}}</td>
                                    <td>{{g.city}}</td>
                                    <td>{{g.stateCode}}</td>
                                    <td>{{g.zipCode}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!currentPayor.excludedEntities.length">
                                <tr>
                                    <td colspan="2">No addresses</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-auto ms-4">
                        <button type="button"
                            [disabled]="payorForm.dirty"
                            class="btn btn-sm btn-success" 
                            (click)="addAddress()">
                            <i class="bi bi-plus"></i> Add Address
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="!hideAddresses"/>

        <!-- Exclusions -->
        <div class="row" *ngIf="!!currentPayor&&currentPayor">
            <div class="d-flex mb-2">
                <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                    (click)="collapseExclusions.toggle()" [attr.aria-expanded]="!hideExclusions" 
                    title="Toggle Exclusion List">
                    <i *ngIf="hideExclusions" class="bi bi-chevron-right"></i>
                    <i *ngIf="!hideExclusions" class="bi bi-chevron-down"></i>
                </button>

                <h6 class="ms-2 m-auto position-relative">Entity Exclusions</h6>
            </div>

            <hr *ngIf="!!currentPayor" />

            <div #collapseExclusions="ngbCollapse" [(ngbCollapse)]="hideExclusions">
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-sm table-normal-head font-smaller">
                            <thead>
                                <tr>
                                    <th *ngIf="isAdmin||isManager">...</th>
                                    <th>Excluded Entity</th>
                                    <th>Entity NPI</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let g of currentPayor.excludedEntities">
                                    <td *ngIf="isAdmin||isManager">
                                        <button type="button" class="btn btn-sm btn-danger" 
                                            (click)="deleteExclusion(g)"
                                            title="Remove this Entity Exclusion file from the Payor.">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                    <td>{{g.name}}</td>
                                    <td>{{g.NPINumber}}</td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!currentPayor.excludedEntities.length">
                                <tr>
                                    <td colspan="2">No exclusions</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-auto ms-4">
                        <button type="button"
                            [disabled]="payorForm.dirty"
                            class="btn btn-sm btn-success" 
                            (click)="addExclusion()">
                            <i class="bi bi-plus"></i> Add Exclusion
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="!hideExclusions"/>
        
        <!-- Payor Groups -->
        <div class="row" *ngIf="!!currentPayor && currentPayor.id===currentPayor.parentId">
            <div class="d-flex mb-2">
                <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                    (click)="collapseGroups.toggle()" [attr.aria-expanded]="!hideGroups" title="Toggle Groups List">
                    <i *ngIf="hideGroups" class="bi bi-chevron-right"></i>
                    <i *ngIf="!hideGroups" class="bi bi-chevron-down"></i>
                </button>

                <h6 class="ms-2 m-auto position-relative">Payor Groups</h6>
            </div>

            <div #collapseGroups="ngbCollapse" [(ngbCollapse)]="hideGroups">
                <div class="row">
                    <div class="col table-responsive">
                        <table class="table table-sm table-normal-head font-smaller">
                            <thead>
                                <tr>
                                    <!-- <th *ngIf="isAdmin||isManager">...</th> -->
                                    <th>Group Number</th>
                                    <th>Group Name</th>
                                    <th>Plan Type</th>
                                    <th>No NSA?</th>
                                    <th>No State?</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let g of currentPayor.payorGroups;let i=index">
                                    <!-- api endpoint not implemented
                                    <td *ngIf="isAdmin||isManager">
                                        <button type="button" class="btn btn-sm btn-danger" 
                                            (click)="deleteGroup(g)"
                                            title="Remove this Payor Group from the Payor.">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                    -->
                                    <td>{{g.groupNumber}}</td>
                                    <td>{{g.groupName}}</td>
                                    <td>{{planTypes[g.planType].key}}</td>
                                    <td>
                                        <!-- <i class="bi bi-check-square-fill text-danger" *ngIf="g.isNSAIneligible"></i> -->                
                                        <div class="col fs-6">
                                            <input class="form-check-input text-center" [disabled]="!canEdit"
                                                title="Toggle NSA eligibility - Check to make Ineligible" 
                                                type="checkbox" value="" id="isNSAIneligible{{i}}"
                                                (change)="updateGroup(g)" 
                                                [(ngModel)]="g.isNSAIneligible">
                                        </div>
                                    </td>
                                    <td>
                                        <!-- <i class="bi bi-check-square-fill text-danger" *ngIf="g.isStateIneligible"></i> -->
                                        <div class="col fs-6">
                                            <input class="form-check-input text-center" [disabled]="!canEdit"
                                                title="Toggle State eligibility - Check to make Ineligible" 
                                                type="checkbox" value="" id="isStateIneligible{{i}}"
                                                (change)="updateGroup(g)" 
                                                [(ngModel)]="g.isStateIneligible">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot *ngIf="!currentPayor.payorGroups.length">
                                <tr>
                                    <td colspan="3">No Payor Groups</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-lg-auto ms-4 d-flex align-items-end">
                        <button type="button"
                            class="btn btn-sm btn-success" 
                            [disabled]="payorForm.dirty"
                            (click)="addGroup()">
                            <i class="bi bi-plus"></i> Add Group
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <hr *ngIf="!hideGroups"/>
        <p></p>

        <app-file-upload *ngIf="!!currentPayor" [allCaseFileVMs$]="allCaseFileVMs$" 
            [disableUpload]="!!(currentPayor.id < 1)" [isAdmin]="isAdmin" [canEdit]="isAdmin||isManager"
            (onFileAdded)="addFile($event)" (onFileDelete)="deleteFile($event)"
            (onViewFile)="viewFile($event)"></app-file-upload>

        <!-- Negotiators -->
        <div class="row mt-4" *ngIf="!!currentPayor">
            <div class="d-flex mb-2">
                <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                    (click)="collapseNegotiators.toggle()" [attr.aria-expanded]="!hideNegotiators"
                    title="Toggle Negotiators list">
                    <i *ngIf=" hideNegotiators" class="bi bi-chevron-right"></i>
                    <i *ngIf="!hideNegotiators" class="bi bi-chevron-down"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{allNegotiators.length}}
                    </span>
                </button>

                <h6 class="ms-2 m-auto position-relative">Negotiator List</h6>
            </div>
            <hr />
        </div>

        <div #collapseNegotiators="ngbCollapse" [(ngbCollapse)]="hideNegotiators" class="row justify-content-between mb-1">
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-striped table-sm search-results">
                        <thead>
                            <tr>
                                <th scope="col">Active <i class="bi bi-question-circle-fill"
                                        title="Inactive Negotiators are hidden from selection on other screens"></i>
                                </th>
                                <th scope="col">Name</th>
                                <th scope="col">Organization</th>
                                <th scope="col">Email</th>
                                <th scope="col">Phone</th>
                                <th scope="col">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of allNegotiators;let i = index">
                                <td>
                                    <input class="form-check-input text-center" [disabled]="!canEdit"
                                        title="Uncheck to deactivate this Negotiator" type="checkbox" value=""
                                        id="isActive{{i}}" (change)="negotiatorChanged(n)" [(ngModel)]="n.isActive">
                                </td>
                                <td>
                                    {{n.name}}
                                </td>
                                <td>
                                    {{n.organization}}
                                </td>
                                <td>
                                    {{n.email}}
                                </td>
                                <td>
                                    {{n.phone}}
                                </td>
                                <td class="overflow-ellipses">
                                    {{n.notes}}
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" class="text-right">
                                    <button *ngIf="canEdit" type="button" (click)="addNegotiator()"
                                        [disabled]="payorForm.dirty"
                                        class="btn btn-sm btn-success" title="Add a new Negotiator">
                                        <i class="bi bi-plus"></i> Add Negotiator
                                    </button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
        <!-- Document Templates -->
        <div class="row mt-4 mb-2" *ngIf="!!currentPayor">
            <div class="col d-flex">
                <button class="btn btn-sm btn-outline-primary position-relative" type="button"
                    (click)="collapseTemplates.toggle()" [attr.aria-expanded]="!hideTemplates"
                    title="Toggle Templates list">
                    <i *ngIf="hideTemplates" class="bi bi-chevron-right"></i>
                    <i *ngIf="!hideTemplates" class="bi bi-chevron-down"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{currentPayor.templates.length}}
                    </span>
                </button>

                <h6 class="ms-2 m-auto position-relative">Templates List</h6>
            </div>
            <div class="col-auto">
                <button *ngIf="isAdmin" type="button" 
                    (click)="addTemplate()" class="btn btn-sm btn-success"
                    [disabled]="payorForm.dirty||fltTemplateType===null"
                    title="Add a new content template">
                    <i class="bi bi-plus"></i> Add Template
                </button>
            </div>
            <hr class="mt-2" *ngIf="!!currentPayor" />
        </div>
        
        <div #collapseTemplates="ngbCollapse" [(ngbCollapse)]="hideTemplates">
            <div class="row mb-1 justify-content-between">
                <div class="col-5">
                    <!-- Select Template Type -->
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col-5">Template Type</span>
                        <select class="form-select form-select-sm" 
                            (change)="fltTemplateTypeChange()"
                            [(ngModel)]="fltTemplateType"
                            [attr.disabled]="payorForm.dirty?true:null"
                            aria-label="Payor"
                            title="Select the type of template to review">
                            <option [ngValue]="null" selected disabled>Select...</option>
                            <option *ngFor="let s of allNotificationTypes" [ngValue]="s.id">{{s.key}}</option>
                        </select>
                    </div>
                </div>
                <div class="col text-center">
                    <button *ngIf="isManager&&!!currentTemplate" type="button" 
                        class="btn btn-sm btn-success" 
                        [disabled]="payorForm.dirty"
                        (click)="copyTemplate()" 
                        title="Add a new content template">
                        <i class="bi bi-clipboard"></i> Copy Template
                    </button>
                </div>
                <div class="col-5">
                    <!-- Select Template -->
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col-5">Template Name</span>
                        <select class="form-select form-select-sm" 
                            [(ngModel)]="currentTemplate"
                            [attr.disabled]="payorForm.dirty?true:null"
                            aria-label="Payor"
                            title="Select the template to review and edit">
                            <option [ngValue]="null" selected disabled>Select...</option>
                            <option *ngFor="let s of allTemplates" [ngValue]="s">{{s.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="!!currentTemplate">
                <div class="col">
                    <div *ngIf="!isAdmin" [innerHTML]="currentTemplate?.html"></div>
                    <angular-editor *ngIf="isAdmin" (keyup)="editorKeyUp($event)" [config]="editorConfig" [(ngModel)]="currentTemplate.html"></angular-editor>
                </div>
            </div>
            <div class="row" *ngIf="!!currentTemplate">
                <div class="col-12 d-flex">
                    <button type="button" class="btn btn-success flex-grow-1" (click)="hideHTML=!hideHTML">Toggle HTML</button>
                </div>
                <div class="col-12" *ngIf="!hideHTML">{{currentTemplate.html}}</div>
            </div>
        </div>
    </div>
</div>

<!-- New Payor Modal -->
<ng-template #payorModal let-modal>

    <div class="modal-header text-light bg-success">
        <h5 class="modal-title">New Payor</h5>
        <button type="button" class="btn btn-close btn-close-white" (click)="modal.dismiss()" aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="payorName" class="form-label">* Payor Name</label>
            <input type="text" required (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                pattern="^\S[a-zA-Z0-9 &,.]{1,60}\S$" #newPayor="ngModel"
                [(ngModel)]="payorName" name="payorName" id="payorName">
        </div>
      
        <!-- Parent Payor -->
        <div class="input-group input-group-sm">
          <span class="input-group-text col-auto">Parent Record</span>
          <select class="form-select form-select-sm" 
            name="parentId"
            [(ngModel)]="parentId"
            aria-label="Parent Record"
            title="Select a Parent record if this spelling of the Payor name is just an alias">
            <option [ngValue]="null" selected disabled>Select...</option>
            <option [ngValue]="0">(self)</option>
            <option *ngFor="let s of allPrimePayors" [ngValue]="s.id">{{s.name}}</option>
          </select>
          <p class="fs-6 fst-italic">Only choose (self) for the Payor Name spelling used on reports. </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="!payorName||parentId===null||payorName.length<3||newPayor.invalid" 
            class="btn btn-sm btn-success"
            (click)="modal.close()" title="Add Payor">
            <i class="bi bi-save"></i> Add Payor
        </button>
    </div>
</ng-template>

<!-- Add Exclusion Modal -->
<ng-template #exclusionModal let-modal>

    <div class="modal-header text-light bg-success">
        <h5 class="modal-title">Add Entity Exclusion</h5>
        <button type="button" class="btn btn-close btn-close-white" 
            (click)="modal.dismiss()" 
            aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label for="entityName" class="form-label">Select Entity</label>
            <select class="form-select form-select-sm me-2" 
                name="currentEntity" 
                [(ngModel)]="currentEntity"
                aria-label="Exclude Entity"
                title="Add an Entity who may not file Arbitration proceedings involving the selected Payor">
                <option [ngValue]="null" selected disabled>Select...</option>
                <option *ngFor="let g of allEntities" [ngValue]="g">{{g.name}} - {{g.NPINumber}}</option>
            </select>
            <p *ngIf="!!currentEntity && currentEntity.NPINumber && currentEntity.NPINumber.length<10" class="text-danger">Invalid NPI Number!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" 
            [disabled]="!currentEntity||!currentEntity.name||!currentEntity.NPINumber||currentEntity.name.length<3||currentEntity.NPINumber.length<10" 
            class="btn btn-sm btn-success"
            (click)="modal.close()" title="Add Exclusion">
            <i class="bi bi-save"></i> Add Exclusion
        </button>
    </div>
</ng-template>

<!-- Add Payor Group Modal -->
<ng-template #payorGroupModal let-modal>

    <div class="modal-header text-light bg-success">
        <h5 class="modal-title">Add Payor Group</h5>
        <button type="button" class="btn btn-close btn-close-white" 
            (click)="modal.dismiss()" 
            aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Payor Group Name</span>
            <input type="text" required 
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                #newPayorGroup="ngModel"
                maxlength="60"
                [(ngModel)]="newPayorGroupName" 
                name="newPayorGroupName" 
                aria-label="New Payor Group Name">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Payor Group Number</span>
            <input type="text" required 
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                #newPayorGroup="ngModel"
                maxlength="20"
                [(ngModel)]="newPayorGroupNumber" 
                name="newPayorGroupNumber" 
                aria-label="New Payor Group Number">
        </div>
        <!-- Plan Type -->
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Plan Type</span>
            <select class="form-select form-select-sm" 
              [(ngModel)]="newGroupPlanType" 
              name="newGroupPlanType"
              aria-label="Plan Type" 
              title="Payor Group plan type">
              <option selected disabled [value]="null">Choose...</option>
              <option *ngFor="let s of planTypes" [ngValue]="s.id">{{s.key}}</option>
            </select>
        </div>
        <!-- Is NSA Ineligible -->
        <div class="input-group input-group-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" 
                    [(ngModel)]="newIsNSAIneligible"
                    name="newIsNSAIneligible" 
                    id="newIsNSAIneligible" 
                    title="Is this group INELIGIBLE for NSA arbitration?"
                    aria-label="Is Ineligible for NSA">
                <label class="form-check-label" for="newIsNSAIneligible">Is Ineligible for NSA?</label>
            </div>
        </div>
        <!-- Is State Ineligible -->
        <div class="input-group input-group-sm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" 
                    [(ngModel)]="newIsStateIneligible"
                    name="newIsStateIneligible" 
                    id="newIsStateIneligible" 
                    title="Is this group INELIGIBLE for State arbitration?"
                    aria-label="Is Ineligible for State">
                <label class="form-check-label" for="isDefault">Is Ineligible for State?</label>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" [disabled]="newGroupPlanType===null||!newPayorGroupName||!newPayorGroupNumber" 
            class="btn btn-sm btn-success"
            (click)="modal.close()" title="Add Payor Group">
            <i class="bi bi-save"></i> Add Group
        </button>
    </div>
</ng-template>

<!-- Results Modal -->
<ng-template #loadResult let-modal>

    <div class="modal-header text-light" [ngClass]="{'bg-success':!isError,'bg-danger':isError}">
        <h5 class="modal-title">{{loadTitle}}</h5>
        <button type="button" class="btn btn-close btn-close-white" (click)="modal.dismiss()" aria-label="Close"></button>
    </div>
    <div class="modal-body scroll-y-300" [innerHTML]="loadMessage">
    </div>

</ng-template>

<!-- Copy Payor Modal -->
<ng-template #copyDialog let-modal>
    <div class="modal-header text-light bg-success">
        <h5 class="modal-title">Copy Payor Template To...</h5>
        <button type="button" class="btn btn-close btn-close-white" 
            (click)="modal.dismiss()" 
            aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="mb-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                        [(ngModel)]="chkCopyLevel" 
                        name="chkCopyLevel"
                        value="Active"
                        id="chkCopyLevel1"
                        aria-label="Copy to all Payors">
                    <label class="form-check-label" for="acceptOffer1">Active Payors only</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                        [(ngModel)]="chkCopyLevel" 
                        name="chkCopyLevel"
                        value="ALL"
                        id="chkCopyLevel2"
                        aria-label="Copy to all Payors">
                    <label class="form-check-label" for="acceptOffer1">ALL Payors</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" 
                        [(ngModel)]="chkCopyLevel" 
                        name="chkCopyLevel"
                        value="Prime"
                        id="chkCopyLevel3"
                        aria-label="Copy to Prime Only">
                    <label class="form-check-label" for="acceptOffer1">Only Prime Payors</label>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" 
            class="btn btn-sm btn-success"
            (click)="modal.close()" title="Copy template">
            <i class="bi bi-save"></i> Copy!
        </button>
    </div>
</ng-template>

<!-- Add Payor Address Modal -->
<ng-template #addressModal let-modal>

    <div class="modal-header text-light bg-success">
        <h5 class="modal-title">Add Payor Address</h5>
        <button type="button" class="btn btn-close btn-close-white" 
            (click)="modal.dismiss()" 
            aria-label="Close">
        </button>
    </div>
    <div class="modal-body">
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Address Type</span>
            <input type="text" required 
                autocomplete="off"
                (blur)="verifyNewAddressType()"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="30"
                name="addressType" 
                [(ngModel)]="newAddress.addressType" 
                aria-label="Address Type"
                title="Classify this address in some way">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Address Name</span>
            <input type="text" required 
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="50"
                name="name" 
                [(ngModel)]="newAddress.name" 
                aria-label="Address Name"
                title="First line of the business address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Line One</span>
            <input type="text" required 
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="100"
                name="addressLine1" 
                [(ngModel)]="newAddress.addressLine1" 
                aria-label="Address Line 1"
                title="First Line of the Address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">Line Two</span>
            <input type="text"  
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="100"
                name="addressLine2" 
                [(ngModel)]="newAddress.addressLine2" 
                aria-label="Address Line 1"
                title="Second Line of the Address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* City</span>
            <input type="text" required 
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="100"
                name="city" 
                [(ngModel)]="newAddress.city" 
                aria-label="City"
                title="City field for the Address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* State</span>
            <select class="form-select form-select-sm" 
              [(ngModel)]="newAddress.stateCode" 
              name="stateCode"
              aria-label="State" 
              title="State field for the Address">
              <option selected disabled [ngValue]="''">Choose...</option>
              <option *ngFor="let s of allStates" [ngValue]="s.key">{{s.name}}</option>
            </select>
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">* Zipcode</span>
            <input type="text" required 
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="10"
                name="zipCode" 
                [(ngModel)]="newAddress.zipCode" 
                aria-label="Zipcode"
                title="Zipcode field of the Address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">Email</span>
            <input type="text"  
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="60"
                name="email" 
                [(ngModel)]="newAddress.email" 
                aria-label="Email"
                title="Email address">
        </div>
        <div class="input-group input-group-sm mt-2">
            <span class="input-group-text col-5">Main Phone</span>
            <input type="text"  
                autocomplete="off"
                (focus)="selectAll($event)" 
                class="form-control form-control-sm" 
                maxlength="20"
                name="phone" 
                [(ngModel)]="newAddress.phone" 
                aria-label="Phone Number"
                title="Phone Number of the location">
        </div>
        <p>After adding a new address you must Save Changes to the Payor!</p>
    </div>
    <div class="modal-footer">
        <button type="button" 
            [disabled]="!isAddressTypeUnique()||!newAddress.addressType||!newAddress.name||!newAddress.addressLine1||!newAddress.city||!newAddress.stateCode||!newAddress.zipCode" 
            class="btn btn-sm btn-success"
            (click)="modal.close()" title="Add Payor Address">
            <i class="bi bi-save"></i> Add Address
        </button>
    </div>
</ng-template>
