<div class="card">
    <div class="card-header justify-content-between d-flex">
        <h4>Pre-Arbitration Quick Calculator</h4>
        <div>
            <!-- <button type="button" class="btn btn-outline-info me-2" [disabled]="!canReset" (click)="variablesClick()">Variables</button> -->
            <button type="button" class="btn btn-info me-2 bold" (click)="importClick()" [disabled]="mpCase.cptCodes.length" title="Import CPT codes using a PID">USMON Import</button>
            <button type="button" class="btn btn-outline-danger me-2" [disabled]="!mpCase.cptCodes.length" (click)="resetClick(true)">Reset</button>
        </div>
    </div>
    <div class="card-body">
        <p class="card-title">Click below to paste CPT information in this format:<br/>
            <span style="font-size:smaller;font-weight:bold">[Service] [CPT] [Units] [Geozip] [Payor Offer]</span>
        </p>
        <form #calcForm="ngForm" novalidate="novalidate">
            <div class="row mb-2">
                <div class="col">
                    <div class="form-floating">
                        <textarea #a name="caseText" [(ngModel)]="caseText" class="form-control" style="height:14rem" [disabled]="!canPaste" (paste)="pasteCases($event)"
                            placeholder="Paste in SPACE-separated values here"></textarea>
                        <label for="floatingTextarea"></label>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col text-start">
                    CPT Codes: <b>{{mpCase.cptCodes.length}}</b>
                </div>
            </div>

            <div class="row">
                <div class="col text-end">
                    <button type="button" class="btn btn-success ms-2" [disabled]="!canCalculate" (click)="saveClick(true)">
                        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="!isLoading">Save and Analyze</span>
                        <span *ngIf="isLoading" class="ms-2">Loading...</span>
                    </button>
                    <button type="button" class="btn btn-outline-success ms-2" [disabled]="!canCalculate" (click)="saveClick(false)">
                        <span *ngIf="isLoading" class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                        <span *ngIf="!isLoading">Save and Create New</span>
                        <span *ngIf="isLoading" class="ms-2">Loading...</span>
                    </button>
                </div>
            </div>
        </form>
        <hr/>
        <h5>Results</h5>
        <!-- results -->
        <div class="table-responsive">
            <table class="table table-sm font-small">
                <thead>
                    <tr>
                        <th class="bg-warning text-light" colspan="5">Inputs</th>
                        <th class="bg-primary text-light" colspan="7">Data Lookup</th>
                    </tr>
                    <tr class="font-small">
                        <th>Service</th>
                        <th>CPT</th>
                        <th>Units</th>
                        <th>Payor Offer</th>
                        <th>LocationGeoZip</th>

                        <th>FH 50th</th>
                        <th>FH 50th Ext</th>
                        <th>FH 80th</th>
                        <th>Charges Cap</th>
                        <th>Hard-Coded Cap</th>
                        <th>Arbitration Fee</th>
                        <th>Offer Spread</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let r of tableData | async" [ngClass]="{'bg-warning':!r.fhAllowedAmount}">
                        <td>r.service</td>
                        <td>{{r.cptCode}}</td>
                        <td>{{r.units}}</td>
                        <td>{{r.payorOffer}}</td>
                        <td>{{r.locationGeoZip}}</td>

                        <td>{{r.fhAllowedAmount}}</td>
                        <td>{{r.units * r.fhAllowedAmount}}</td>
                        <td>{{r.fh80thPercentileAllowed}}</td>
                        <td>{{VARS.ChargesCapDiscount * r.fh80thPercentileAllowed  | number:'2.2'}}</td>
                        <td>{{r.hardCodedCap}}</td>
                        <td>{{calcArbitrationFee(r.arbitrationFee) | number:'2.2'}}</td>
                        <td>{{r.offerSpread}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="larger bg-light">
                        <td colspan="2">Totals -></td>
                        <td>{{summary?.units}}</td>
                        <td>{{summary?.payorOffer | number:'2.2'}}</td>
                        <td></td>

                        <td></td>
                        <td>{{summary?.fhExtended  | number:'2.2'}}</td>
                        <td>{{summary?.fh80th | number:'2.2'}}</td>
                        <td>{{summary?.chargesCap | number:'2.2'}}</td>
                        <td>{{summary?.hardCap | number:'2.2'}}</td>
                        <td>{{summary?.arbFee | number:'2.2'}}</td>
                        <td>{{summary?.offerSpread | number:'0.2'}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>