<div class="modal-header bg-info text-light">
    <h4 class="modal-title">{{currentSettlement.id>0?'Update':'Add'}} Dispute Settlement to <b>{{currentSettlement.authorityCaseId}}</b></h4>
    <button type="button" (click)="activeModal.dismiss('dismiss click')" class="btn-close" title="Close">
    </button>
</div>

<div class="modal-body">
    <form #offerForm="ngForm" id="ngForm" novalidate="novalidate">
        <div class="row">
            <!-- Left Column -->
            <div class="col-lg-6">
                <!-- Payor -->
                <div class="mb-2">
                    <span class="form-label small">Payor Name</span>
                    <span class="input-group-text col bg-disabled">{{currentPayor?.name}}</span>
                </div>
                <!-- Prevailing Party -->
                <div class="mb-2">
                    <span class="form-label small">Prevailing Party</span>
                    <select *ngIf="isFormal" 
                        class="form-select form-select-sm" 
                        [(ngModel)]="currentSettlement.prevailingParty" 
                        required 
                        name="prevailingParty" 
                        aria-label="Prevailing Party"
                        title="Which party, if either, prevailed in any formal mediation">
                        <option selected disabled value="">Select...</option>
                        <option *ngFor="let f of allParties">{{f}}</option>
                    </select>
                    <span *ngIf="!isFormal" class="input-group-text col bg-disabled">{{currentSettlement.prevailingParty}}</span>
                </div>

                <!-- Authority -->
                <div class="mb-3">
                    <span class="form-label small">Controlling Authority (Jurisdiction)</span>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col bg-disabled">{{currentAuthority?.name}}</span>
                    </div> 
                </div>

                <!-- Authority Case Id 
                <div class="mb-3">
                    <span class="form-label small">Authority Case Id / Dispute Number</span>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col bg-disabled">{{currentSettlement.authorityCaseId}}</span>
                    </div> 
                </div>
                -->
            </div>
            <!-- Right Column -->
            <div class="col-lg-6">
                <!-- Report Submission Date -->
                <div class="mb-2" *ngIf="isFormal">
                    <span class="form-label small">Arbitrator's Report Submission Date</span>
                    <div class="d-flex flex-row">
                        <input type="text" name="arbitratorReportSubmissionDate" 
                            class="form-control form-control-sm" 
                            ngbDatepicker 
                            required
                            autocomplete="off"
                            [(ngModel)]="currentSettlement.arbitratorReportSubmissionDateForPicker"
                            [ngModelOptions]="{updateOn:'blur'}"
                            aria-label="Report Submission Date" 
                            title="Date of arbitrator's report submission (on or after their decision date)"
                            #rs="ngbDatepicker">

                        <button type="button" class="btn btn-outline-secondary" 
                            (click)="rs.toggle()" 
                            [disabled]="!currentSettlement.authorityCaseId"
                            title="Pick Arbitrator Report Submission Date Date">
                            <i class="bi bi-calendar"></i>
                        </button>
                    </div>
                </div>
                <!-- Arbitration Decision Date -->
                <div class="mb-2" *ngIf="isFormal">
                    <span class="form-label small">Arbitrator's Decision Date</span>
                    <div class="d-flex flex-row">
                        <input type="text" name="arbitrationDecisionDate" 
                            class="form-control form-control-sm" 
                            ngbDatepicker 
                            required
                            autocomplete="off"
                            [(ngModel)]="currentSettlement.arbitrationDecisionDate"
                            [ngModelOptions]="{updateOn:'blur'}"
                            aria-label="Arbitration Decision Date" 
                            title="Date of arbitrator's decision"
                            #dd="ngbDatepicker">

                        <button type="button" class="btn btn-outline-secondary" 
                            (click)="dd.toggle()" title="Pick ArbitrationDecision Date">
                            <i class="bi bi-calendar"></i>
                        </button>
                    </div>
                </div>

                <!-- Awarded On / Offer Accepted On -->
                <div class="mb-2">
                    <span class="form-label small">Awarded On / Offer Accepted On Date</span>
                    <div class="d-flex flex-row">
                        <input type="text" name="partiesAwardNotificationDate" 
                            class="form-control form-control-sm" 
                            autocomplete="off"
                            ngbDatepicker 
                            [(ngModel)]="currentSettlement.partiesAwardNotificationDate"
                            [ngModelOptions]="{updateOn:'blur'}"
                            required
                            aria-label="Service Date"
                            title="Date to award this settlement"
                            #awd="ngbDatepicker">

                        <button type="button" class="btn btn-outline-secondary" 
                            (click)="awd.toggle()" title="Pick Award Date">
                            <i class="bi bi-calendar"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div *ngIf="isFormal" class="mb-1">
                    <span class="form-label small">Authority Total Award Amount</span>
                    <span *ngIf="!canEdit">{{currentSettlement.totalSettlementAmount | currency}}</span>
                    <div *ngIf="canEdit"  class="input-group input-group-sm">
                        <div class="input-group-text currency-addon bg-white">$</div>
                            <!--
                            min="0" step=".01"
                            [(ngModel)]="currentSettlement.totalSettlementAmount"
                            (blur)="currencyBlur($event)"
                            (change)="totalSettlementChanged()"
                            pattern="^0$|^[1-9]\d*$|^\.\d+$|^0\.\d*$|^[1-9]\d*\.\d*$" 
                            (focus)="selectAll($event)"
                            -->
                        <input class="form-control form-control-sm currency-input"
                            name="totalSettlementAmount" 
                            id="totalSettlementAmount"
                            [(ngModel)]="totalSettlementAmount"
                            readonly
                            disabled
                            autocomplete="off"
                            type="number"ria-label="Total Awarded Amount"
                            title="Total awarded amount according to the Authority's mediator">
                    </div>  
                    <p class="small text-danger mb-0"><i>Total authority awarded amount, i.e. prevailing party's (our) final offer amount</i></p>
                </div>


                <!-- Total Paid Amount has no relevance outside of the Calculator (aka Claims) page 
                <div class="mb-1">
                    <span class="form-label small">Total Amount Paid So Far</span>
                    <div class="input-group input-group-sm">
                        <span class="input-group-text col bg-disabled">{{arbCase.totalPaidAmount | currency}}</span>
                    </div> 
                </div>
                -->

                <!-- Gross Settlement Amount 
                <div class="mb-1">
                    <span class="form-label small">Distributed Value Remaining</span>
                    <div class="input-group input-group-sm">
                        <div class="input-group-text currency-addon">$</div>
                        <input type="text" class="form-control form-control-sm" 
                            readonly
                            disabled
                            tabindex="-1"
                            name="awardValueRemaining" 
                            [(ngModel)]="awardValueRemaining"
                            aria-label="Gross Settlement Amount" 
                            title="Reflects the amount of the award not yet applied to the individual CPT codes">
                    </div> 
                </div>
                -->

                <!-- Net Settlement Amount aka Residual Value is meaningless outside of the Calculator (aka Claims) page
                <div class="mb-2">
                    <span class="form-label small">Arbit Net Settlement Value (residual value)</span>
                    <div class="input-group input-group-sm">
                        <div class="input-group-text currency-addon">$</div>
                        <input type="text" name="netSettlementAmount" 
                            class="form-control form-control-sm" 
                            readonly
                            [(ngModel)]="currentSettlement.netSettlementAmount"
                            aria-label="Net Settlement Amount" 
                            title="Net Settlement Amount">
                    </div>
                    <p class="small text-danger"><i>Note that this will decrease as more payments are received </i></p>
                </div>
                -->
            </div>
       </div>
        
        <!-- Settled Procedure Codes -->
        <h5 class="mb-1 mt-2">Settled Procedure Codes (CPTs)</h5>
        
        <div class="table-responsive">
            <table class="table table-sm table-striped font-smaller">
                <thead>
                    <tr>
                        <!-- <th class="text-center" style="width:2rem">Awarded?</th> -->
                        <th class="text-center" style="width:9rem">Payor Claim Number</th>
                        <th class="text-center" style="width:5rem">CPT Code</th>
                        <th class="text-center" style="width:7rem">Award Amt<br/>(per unit)</th>
                        <th class="text-center" style="width:4rem">Units</th>
                        <th class="text-center" style="width:8rem">Ext. Amount</th>
                        <th>Description</th>
                        <!-- Outside the current development scope 
                        <th class="text-center" style="width:2rem">Pmt Recvd</th>
                        <th class="text-center">Pmt Method</th>
                        <th class="text-center">Reference #</th>
                        <th class="text-center">Received On</th>
                        -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of allCPTViewmodels;let i = index" class="vertical-align-middle">
                        <!-- IsSettled - seems unnecessary since a value is required for all CPTs in order to settle -->
                        <!-- <td class="p-0 text-center" style="width:5rem">
                            <div class="form-check form-check-inline fs-4 m-0">
                                <input class="form-check-input" type="checkbox" 
                                    autocomplete="off"
                                    [attr.disabled]="!canEdit?true:null"
                                    name="isSettled_{{i}}" id="isSettled_{{i}}"
                                    (change)="toggleSettledCPT(c)"
                                    [(ngModel)]="c.isSettled" aria-label="Mark As Settled?">
                            </div>
                        </td> -->
                        <td>{{c.payorClaimNumber}}</td>
                        <td class="text-center">{{c.cptCode}}</td>
                        <td>
                            <div *ngIf="canEdit"  class="input-group input-group-sm">
                                <div class="input-group-text currency-addon">$</div>
                                <input class="form-control form-control-sm currency-input"
                                    autocomplete="off"
                                    name="perUnitAwardAmount_{{i}}" 
                                    id="perUnitAwardAmount_{{i}}"
                                    type="number"
                                    min="0" step=".01"
                                    [(ngModel)]="c.perUnitAwardAmount"
                                    pattern="^0$|^[1-9]\d*$|^\.\d+$|^0\.\d*$|^[1-9]\d*\.\d*$" 
                                    (blur)="currencyBlur($event)"
                                    (change)="awardAmountChanged(c)"
                                    (keydown)="handleGridNavNumeric($event)" 
                                    (focus)="selectAll($event)"
                                    aria-label="Award Amount (unit)"
                                    title="Arbitrator's awarded amount per Unit">
                            </div>  
                        </td>
                        <td class="text-center">{{c.units}}</td>
                        <td class="text-center">{{c.units * c.perUnitAwardAmount | currency}}</td>
                        <td>{{c.description}}</td>
                        <!-- Outside of current development scope 
                        <td class="p-0 text-center" style="width:5rem">
                            <div class="form-check form-check-inline fs-4 m-0">
                                <input class="form-check-input" type="checkbox" 
                                    autocomplete="off"
                                    [attr.disabled]="!canEdit?true:null"
                                    name="isSettled_{{i}}" id="isSettled_{{i}}"
                                    [(ngModel)]="c.isSettled" aria-label="Is Settled">
                            </div>
                        </td>
                        <td class="td-tight" style="width:6rem">
                            <select class="form-select form-select-sm"
                                [disabled]="!canEdit" 
                                id="paymentMethod_{{i}}"
                                name="paymentMethod_{{i}}"
                                [(ngModel)]="c.paymentMethod"
                                [required]="!!c.receivedOn"
                                title="Method of payment">
                                <option selected disabled value="">Select...</option>
                                <option value="ACH">ACH</option>
                                <option value="Check">Check</option>
                                <option value="Credit Card">Credit Card</option>
                                <option value="EFT">Other</option>
                                <option value="Paper">Paper</option> 
                            </select>
                        </td>
                        <td style="width:6rem">
                            <div *ngIf="canEdit"  class="input-group input-group-sm">
                                <input class="form-control form-control-sm"
                                    autocomplete="off"
                                    name="referenceNumber_{{i}}" 
                                    id="referenceNumber_{{i}}"
                                    type="text"
                                    [(ngModel)]="c.referenceNumber"
                                    (keydown)="handleGridNavNumeric($event)" 
                                    (focus)="selectAll($event)"
                                    aria-label="Payment Reference Number"
                                    title="Reference number of this award payment">
                            </div>  
                        </td>
                        <td style="width:6rem">
                            <input class="form-control form-control-sm text-left" 
                                [disabled]="!canEdit" 
                                title="Date Award Paid"
                                type="text" autocomplete="off" 
                                pattern="(0?[1-9]|1[0-2])\/(0?[1-9]|1\d|2\d|3[01])\/(19|20)\d{2}"
                                id="receivedOnForPicker_{{i}}" name="receivedOnForPicker_{{i}}"
                                (focus)="selectAll($event)"
                                (keydown)="handleGridNav($event)"
                                [(ngModel)]="c.receivedOnForPicker"
                                [ngModelOptions]="{updateOn:'blur'}">
                        </td>
                        -->
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="!currentDispute.cptViewmodels.length">
                        <td colspan="8">
                            <p class="text-danger">The Dispute does not appear to contain any Allowed Procedure Codes!</p>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <!-- Notes -->
        <div class="mb-1">
            <label for="notes" class="form-label">Notes</label>
            <textarea type="text" 
                pattern="^\S.*[^\s]$"
                class="form-control form-control-sm"
                rows="3"
                [(ngModel)]="currentSettlement.notes" 
                name="notes" id="notes">
            </textarea>
        </div>
       
    </form>
</div>

<div class="modal-footer">
    
    <button type="button" 
        class="btn btn-sm btn-secondary"
        (click)="activeModal.dismiss()" title="Cancel changes">
        <i class="bi bi-undo"></i> Cancel
    </button>
    <button type="button" 
        class="btn btn-sm btn-success"
        [disabled]="!offerForm.form.valid||!offerForm.form.dirty||hasInvalidCPTSelection()"
        (click)="saveChanges()" title="Add Offer">
        <i class="bi bi-save"></i> {{currentSettlement.id>0?'Update':'Add'}}
    </button>
</div>