<!-- Fees Management -->
<div class="row">
    <div class="d-flex">
        <button class="btn btn-sm btn-outline-primary position-relative" type="button"
            (click)="collapseFees.toggle()" [attr.aria-expanded]="!hideFees" title="Toggle Fees list">
            <i *ngIf="hideFees" class="bi bi-chevron-right"></i>
            <i *ngIf="!hideFees" class="bi bi-chevron-down"></i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{(allFees$ | async)?.length}}
            </span>
        </button>

        <h6 class="ms-2 m-auto position-relative">Fees</h6>
        <ng-container *ngIf="canAdd">
            <div class="col-lg-auto ms-4 d-flex align-items-end">
                <button *ngIf="!hideFees" type="button"
                    class="btn btn-sm btn-success" 
                    (click)="addFee()">
                    <i class="bi bi-plus"></i> Add Fee
                </button>
            </div>
        </ng-container>
    </div>

    <div #collapseFees="ngbCollapse" [(ngbCollapse)]="hideFees">
        <div class="card card-body mt-1">
            <div class="row">
                <div class="col table-responsive">
                    <table class="table table-sm font-small table-no-wrap table-normal-head bb-0">
                        <thead>
                            <tr class="text-center bold">
                                <th *ngIf="canEdit">...</th>
                                <td>Name</td>
                                <td>Fee Type</td>
                                <td>Amount</td>
                                <td>Days Until Due</td>
                                <td>Days Based On</td>
                                <td>Day Type</td>
                                <td>Is Active</td>
                                <td>Is Refundable</td>
                                <td>Is Required</td>
                                <td>Created By</td>
                                <td>Created On</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let f of allFees$ | async" class="vertical-align-middle text-center">
                                <td *ngIf="canEdit">
                                    <button type="button" class="btn btn-sm btn-success" 
                                        (click)="editFee(f)"
                                        title="Edit this Fee">
                                        <i class="bi bi-pencil-square"></i>
                                    </button>
                                </td>
                                <td class="td-tight">{{f.feeName}}</td>
                                <td class="td-tight">{{FeeType[f.feeType]}}</td>
                                <td class="td-tight">{{f.feeAmount}}</td>
                                <td class="td-tight">{{f.dueDaysAfterColumnName}}</td>
                                <td class="td-tight">{{f.referenceColumnName}}</td>
                                <td class="td-tight">{{DeadlineType[f.dueDayType]}}</td>
                                <td class="td-tight fs-3">
                                    <i *ngIf="f.isActive" class="bi bi-check bold text-success"></i>
                                    <i *ngIf="!f.isActive" class="bi bi-x bold text-danger"></i>
                                </td>
                                <td class="td-tight fs-3">
                                    <i *ngIf="f.isRefundable" class="bi bi-check bold text-success"></i>
                                    <i *ngIf="!f.isRefundable" class="bi bi-x bold text-danger"></i>
                                </td>
                                <td class="td-tight fs-3">
                                    <i *ngIf="f.isRequired" class="bi bi-check bold text-success"></i>
                                    <i *ngIf="!f.isRequired" class="bi bi-x bold text-danger"></i>
                                </td>
                                <td class="td-tight">{{f.createdBy}}</td>
                                <td class="td-tight">{{f.createdOn | date:'shortDate'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

