<!-- Add Arbitrator Modal -->
<div class="modal-header text-light bg-success">
    <h5 class="modal-title">{{isEditing?'Edit':'Add'}} Arbitrator</h5>
    <button type="button" class="btn btn-close btn-close-white" (click)="activeModal.dismiss()" aria-label="Cancel"></button>
</div>
<div class="modal-body">
    <!-- ...to be used on all cases not already locked into formal arbitration or closed.-->
    <form #varsForm="ngForm" id="ngForm" novalidate="novalidate">
        <!-- Is Last Resort -->
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                    autocomplete="off"
                    name="isLastResort" id="isLastResort"
                    [(ngModel)]="currentArb.isLastResort">
                <label class="form-check-label bold" for="isLastResort">Check This to Eliminate First - Use Only As a
                    Last Resort</label>
            </div>
        </div>
        <!-- Type -->
        <div class="input-group">
            <label for="arbitratorType" class="input-group-text col-4">Entity Type</label>
            <select class="form-select" 
                autocomplete="off"
                required 
                [(ngModel)]="currentArb.arbitratorType" 
                name="arbitratorType" id="arbitratorType"
                title="The type of mediation this contact provides">
                <option *ngFor="let t of allArbTypes" [ngValue]="t.id">{{t.key}}</option>
            </select>
        </div>
        <!-- Name -->
        <div class="input-group">
            <label for="name" class="input-group-text col-4">* Name</label>
            <input type="text" required class="form-control form-control-sm" 
                autocomplete="off"
                (focus)="selectAll($event)" 
                [(ngModel)]="currentArb.name" name="name" id="name" 
                title="Arbitrator's full name" >
        </div>
        <!-- Email -->
        <div class="input-group">
            <label for="email" class="input-group-text col-4">* Email</label>
            <input type="text" class="form-control form-control-sm" 
                autocomplete="off"
                required 
                (focus)="selectAll($event)" 
                [(ngModel)]="currentArb.email" 
                name="email" id="email" title="Arbitrator's contact email address">
        </div>
        <!-- Fixed Fee 
            <div class="mb-3">
                <label for="fixedFee" class="form-label">* Fixed Fee</label>
                <input type="number" required (focus)="selectAll($event)"  
                    class="form-control form-control-sm" 
                    min="0" 
                    title="Fixed fee for acting as an Arbitrator"
                    [(ngModel)]="currentArb.fixedFee" name="fixedFee" id="fixedFee">
            </div>
            -->
        <!-- Mediator Fixed Fee 
            <div class="mb-3">
                <label for="mediatorFixedFee" class="form-label">* Mediator Fixed Fee</label>
                <input type="number" required (focus)="selectAll($event)"
                    class="form-control form-control-sm" 
                    min="0" 
                    [(ngModel)]="currentArb.mediatorFixedFee"
                    name="mediatorFixedFee" id="mediatorFixedFee" title="Fee for acting as a Mediator ?">
            </div>
            -->
        <!-- Phone -->
        <div class="input-group">
            <label for="phone" class="input-group-text col-4">* Phone</label>
            <input type="text" class="form-control form-control-sm" 
                autocomplete="off"
                [(ngModel)]="currentArb.phone" required
                (focus)="selectAll($event)" 
                name="phone" id="phone" 
                title="Primary telephone number">
        </div> 
        <!-- Is Active -->
        <div class="mb-3">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" 
                    autocomplete="off"
                    name="isActive" id="isActive"
                    [(ngModel)]="currentArb.isActive"
                    title="Inactive Arbitrators / CE will not appear as Dispute selections">
                <label class="form-check-label bold" for="isActive">Is Active</label>
            </div>
        </div>
        <!-- Roles 
            <div class="mb-3">
                <label class="form-label">Roles</label>
                <div>
                    <div class="form-check form-check-inline" *ngFor="let t of allArbRoles;let i = index">
                        <input class="form-check-input" 
                            type="checkbox" 
                            name="selectedRoles" [checked]="currentArb.role.indexOf(t)>=0"
                            id="selectedRole{{i}}" (change)="toggleRole($event)"
                            [value]="t">
                        <label class="form-check-label" for="selectedRole{{i}}">{{t}}</label>
                    </div>
                    <div class="hidden">
                        <label for="role"></label>
                        <input type="text" id="role" name="role" 
                            class="form-control form-control-sm"
                            readonly required 
                            [(ngModel)]="currentArb.role"
                            title="Service(s) this person provides">
                    </div>
                </div>
            </div>
            -->
        <!-- Fees -->
        <div class="mb-2 mt-2">
            <list-fees *ngIf="currentArb.id>0" [allFees$]="allFees$" [canAdd]="canAddFees" [canEdit]="canEditFees"
                (onAddFee)="addFee($event)" (onEditFee)="editFee($event)">
            </list-fees>
        </div>
        <!-- Eliminate for Services -->
        <div class="mb-3">
            <label class="form-label">Eliminate for Services</label>
            <div>
                <div class="form-check form-check-inline" *ngFor="let t of allServices;let i = index">
                    <input class="form-check-input" type="checkbox" 
                        name="selectedServices"
                        [checked]="currentArb.eliminateForServices.indexOf(t)>=0" id="selectedServices{{i}}"
                        (change)="toggleService($event)" 
                        title="Service Lines where we should avoid using this person"
                        [value]="t">
                    <label class="form-check-label" for="selectedServices{{i}}">{{t}}</label>
                </div>
                <div class="hidden">
                    <input type="text" class="form-control form-control-sm" 
                        autocomplete="off"
                        id="eliminateForServices" name="eliminateForServices"
                        readonly aria-label="Eliminate for Services"
                        [(ngModel)]="currentArb.eliminateForServices"
                        title="Do not allow users to select this arbitrator or entity for certain service lines">
                </div>
            </div>
        </div>
        <!-- Notes -->
        <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea rows="5" class="form-control form-control-sm" 
                autocomplete="off"
                [(ngModel)]="currentArb.notes" name="notes" id="notes"
                title="Notes about this Arbitrator/Mediator">
            </textarea>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button *ngIf="!wasFeeChanged" type="button" class="btn btn-secondary" (click)="activeModal.dismiss()" aria-label="Cancel">Cancel</button>
    <button type="button" class="btn btn-success" [disabled]="!varsForm.valid" (click)="activeModal.close()"
        aria-label="Save Changes">{{isEditing?'Save':'Add'}} Arbitrator</button>
</div>