
<app-nav-menu [loggedIn]="authService.loggedIn$ | async" (loginClicked)="login()" (logoutClicked)="logout()"></app-nav-menu>

<ngb-alert *ngFor="let alert of svcToast.alerts" [type]="alert.type" (closed)="svcToast.closeAlert(alert)"><span [innerHTML]="alert.message"></span></ngb-alert>

<div class="toast-container">
  <ngb-toast *ngFor="let toast of svcToast.toasts" [class]="toast.class" [animation]="true"
             [header]="toast.header" [autohide]="true" [delay]="toast.delay || 3000"
             (hiddden)="svcToast.remove(toast)">
    {{toast.body}}
  </ngb-toast>
</div>
<!-- <div class="container-fluid min-1090 max-1200"> -->
<div class="container-fluid ps-0 pe-0 h-100 pb-4">
  <router-outlet></router-outlet>
  <footer>
    &copy;MPOWERHealth 2022-2024
  </footer>
</div>
<!-- Full screen modal -->
<div [hidden]="!isLoading" class="loading">
  <div class="uil-ring-css" style="transform:scale(0.79);" *ngIf="false">
    <div></div>
  </div>
  <div class="uil-ring-css2">
    <div>
      <img src="assets/images/digger.gif" alt="Loading...">
    </div>
  </div>

</div>
