<div class="card">
  <div class="card-header d-flex">
    <h5 class="col-auto"><b>Disputes</b></h5>
  </div>
</div>

<div class="card mt-2 flex-auto">
  <div class="card-footer d-flex justify-content-between small p-1">
    <div>
      <span> ({{ disputes.length ?? 0 }} matches)</span>
    </div>
    <div class="d-flex justify-content-center p-1">
      <button
        *ngIf="isDisputeSearch"
        type="button"
        class="btn btn-sm btn-success"
        (click)="resetSearch(false)"
        title="Clear filters"
      >
        Clear Filters
      </button>

      <button
        type="button"
        class="btn btn-sm btn-warning ms-2"
        [disabled]="isLoading"
        (click)="showCustomSearch(searchContent)"
        title="Find disputes using custom criteria"
      >
        Custom
      </button>
    </div>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-between">
      <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="DataTables_Table_0_length">
          <div class="d-flex">
            <div [ngStyle]="{ 'padding-right': '4px' }">Show</div>
            <select
              id="pageSizeSelect"
              class="form-select form-select-sm"
              (change)="onPageSizeChange($event)"
              [(ngModel)]="pageSize"
              [ngStyle]="{ width: '4.5rem' }"
            >
              <option *ngFor="let size of pageSizes" [value]="size">
                {{ size }}
              </option>
            </select>
            <div [ngStyle]="{ 'padding-left': '4px' }">entries</div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div id="DataTables_Table_0_filter" class="dataTables_filter">
          <div class="d-flex justify-content-end">
            <div [ngStyle]="{ 'padding-right': '4px' }">Search</div>
            <input
              type="search"
              class="form-control form-control-sm"
              id="dispute-search-input"
              placeholder="Search Dispute Number"
              (input)="onDisputeNumberSearch($event)"
              [(ngModel)]="disputeNumber"
              #disputeSearchInput
            />
            <!-- 
              (input)="onDisputeNumberSearch($event)" -->
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-between mt-1 mb-1">
      <div class="col">
        <div class="table-responsive flex-auto tableFixHead">
          <table class="table table-sm">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="text-left fs-8rem"
                  style="min-width: 6rem"
                >
                  Dispute #
                </th>
                <th
                  scope="col"
                  class="text-left fs-8rem"
                  style="min-width: 8rem"
                >
                  Customer
                </th>
                <th scope="col" class="text-left fs-8rem">Dispute Status</th>
                <th scope="col" class="text-left fs-8rem">Brief Approver</th>
                <th scope="col" class="text-left fs-8rem">Entity</th>
                <th scope="col" class="text-left fs-8rem">Certified Entity</th>
                <th scope="col" class="text-center fs-8rem">Admin Fee</th>
                <th scope="col" class="text-center fs-8rem">Entity Fee</th>
                <th scope="col" class="text-center fs-8rem">Total Fee</th>
                <th scope="col" class="text-center text-wrap fs-8rem">
                  Number Of CPTs
                </th>
              </tr>
            </thead>
            <tbody *ngIf="disputes.length > 0">
              <tr *ngFor="let c of disputes; let i = index">
                <td class="fs-8rem">
                  <a [routerLink]="['/', 'dispute', c.disputeNumber]">{{
                    c.disputeNumber
                  }}</a>
                </td>
                <td class="fs-8rem w-10">
                  {{ c.customer }}
                </td>
                <td>
                  <ng-select
                    name="disputeStatus"
                    [(ngModel)]="c.disputeStatus"
                    [title]="c.disputeStatus"
                    [virtualScroll]="true"
                    [clearable]="false"
                    (change)="changeDisputeStatus($event, c, i)"
                    class="fs-8rem"
                    [ngStyle]="{ width: '140px' }"
                  >
                    <ng-option [value]="''" disabled selected
                      >Select...</ng-option
                    >
                    <ng-option *ngFor="let s of disputeStatuses" [value]="s">
                      {{ s }}
                    </ng-option>
                  </ng-select>
                </td>
                <td>
                  <ng-select
                    name="briefApprover"
                    [(ngModel)]="c.briefApprover"
                    [title]="c.briefApprover"
                    [virtualScroll]="true"
                    [clearable]="false"
                    (change)="changeBriefApprover($event, c, i)"
                    class="fs-8rem"
                    [ngStyle]="{ width: '200px' }"
                  >
                    <ng-option [value]="''" disabled selected
                      >Select...</ng-option
                    >
                    <ng-option
                      *ngFor="let s of disputeBriefApprovers"
                      [value]="s.id"
                    >
                      {{ s.email }}
                    </ng-option>
                  </ng-select>
                </td>
                <td class="fs-8rem">
                  {{ c.entity }}
                </td>
                <td class="fs-8rem">
                  {{ c.certifiedEntity }}
                </td>
                <td class="text-center fs-8rem">
                  {{ c.feeAmountAdmin | currency }}
                </td>
                <td class="text-center fs-8rem">
                  {{ c.feeAmountEntity | currency }}
                </td>
                <td class="text-center fs-8rem">
                  {{ c.feeAmountTotal | currency }}
                </td>
                <td class="text-center fs-8rem">{{ c.numberOfCPTs }}</td>
              </tr>
            </tbody>
             <tbody *ngIf="disputes.length === 0">
                <tr class="mt-2">
                  <td
                    colspan="10"
                    class="text-center fs-8rem"
                    style="width: 100%"
                  >
                    No disputes found.
                  </td>
                </tr>
              </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-5">
        <div
          class="dataTables_info"
          id="DataTables_Table_0_info"
          role="status"
          aria-live="polite"
        >
          Showing {{ showingResults }} of {{ totalItems | number }} entries
        </div>
      </div>
      <div class="col-sm-12 col-md-7 d-flex justify-content-end">
        <div class="dataTables_paginate paging_full_numbers">
          <pagination
            [boundaryLinks]="true"
            [directionLinks]="true"
            [totalItems]="totalItems"
            [itemsPerPage]="pageSize"
            [maxSize]="maxSize"
            (pageChanged)="onPageChange($event)"
          >
          </pagination>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Search Criteria - slide in from Off-Canvas -->
<ng-template #searchContent let-offcanvas>
  <div class="offcanvas-header pb-0">
    <h4 class="offcanvas-title">Dispute Search</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="closeCustomSearch()"
    ></button>
  </div>
  <div class="offcanvas-body">
    <form
      #searchForm="ngForm"
      novalidate="novalidate"
      (submit)="submitForm(searchForm)"
    >
      <div class="row gx-1 flex-column">
        <div class="col">
          <!-- Customer -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Customer</span>
            <ng-select
              name="customer"
              [(ngModel)]="customer"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!customer }"
              [virtualScroll]="true"
              [clearable]="false"
              [multiple]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of allCustomers" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !customer"
              (click)="customer = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Dispute Status -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Dispute Status</span>
            <ng-select
              name="disputeStatus"
              [(ngModel)]="disputeStatus"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!disputeStatus }"
              [virtualScroll]="true"
              [clearable]="false"
              [multiple]="true"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeStatuses" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !disputeStatus"
              (click)="disputeStatus = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Brief Approver -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Brief Approver</span>
            <ng-select
              name="briefApprover"
              [(ngModel)]="briefApprover"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!briefApprover }"
              [virtualScroll]="true"
              [clearable]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeBriefApprovers" [value]="s.id">
                {{ s.email }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !briefApprover"
              (click)="briefApprover = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Brief Due Date  -->

          <form class="row gx-1 flex-column">
            <div class="input-group input-group-sm mb-1">
              <span class="input-group-text col-4">Brief Due Date</span>
              <div class="col">
                <div class="dp-hidden position-absolute">
                  <div class="input-group">
                    <input
                      name="datepicker"
                      class="form-control"
                      ngbDatepicker
                      #datepicker="ngbDatepicker"
                      [autoClose]="'outside'"
                      [placement]="'bottom-left'"
                      [container]="'body'"
                      (dateSelect)="onDateSelection($event)"
                      [displayMonths]="2"
                      [dayTemplate]="t"
                      outsideDays="hidden"
                      [startDate]="briefDueDateFrom!"
                      tabindex="-1"
                    />
                    <ng-template #t let-date let-focused="focused">
                      <span
                        class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null"
                      >
                        {{ date.day }}
                      </span>
                    </ng-template>
                  </div>
                </div>
                <div class="input-group">
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="briefDueDateFrom"
                    [value]="formatter.format(briefDueDateFrom)"
                    [disabled]="true"
                  />
                  <!--  [value]="formatter.format(briefDueDateFrom)" -->
                  <input
                    class="form-control"
                    placeholder="yyyy-mm-dd"
                    name="briefDueDateTo"
                    [value]="formatter.format(briefDueDateTo)"
                    [disabled]="true"
                  />
                  <button
                    class="btn btn-outline-secondary bi bi-calendar3"
                    (click)="datepicker.toggle()"
                    type="button"
                  ></button>
                </div>
              </div>
            </div>
          </form>

          <!-- Entity -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Entity</span>
            <ng-select
              name="entity"
              [(ngModel)]="entity"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!entity }"
              [virtualScroll]="true"
              [clearable]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeEntities" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !entity"
              (click)="entity = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Certified Entity -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Certified Entity</span>
            <ng-select
              name="certifiedEntity"
              [(ngModel)]="certifiedEntity"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!certifiedEntity }"
              [virtualScroll]="true"
              [clearable]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeCertifiedEntities" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !certifiedEntity"
              (click)="certifiedEntity = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Provider NPI -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Provider NPI</span>
            <ng-select
              name="providerNPI"
              [(ngModel)]="providerNPI"
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!providerNPI }"
              [virtualScroll]="true"
              [clearable]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeProvidersNPI" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !providerNPI"
              (click)="providerNPI = ''"
              title="Clear field"
            >
              X
            </button>
          </div>

          <!-- Arbit ID -->
          <div class="input-group input-group-sm mb-1">
            <span class="input-group-text col-4">Arbit ID</span>
            <ng-select
              class="form-control"
              [ngClass]="{ 'bg-dirty': !!arbitId }"
              name="arbitId"
              [(ngModel)]="arbitId"
              [minTermLength]="minLengthArbitId"
              typeToSearchText="Please enter {{
                minLengthArbitId
              }} or more characters"
              [typeahead]="arbitIdsSelectInput$"
              [virtualScroll]="true"
              #selectArbitIds
              [clearable]="false"
            >
              <ng-option [value]="''" disabled selected>Select...</ng-option>
              <ng-option *ngFor="let s of disputeArbitIds$ | async" [value]="s">
                {{ s }}
              </ng-option>
            </ng-select>

            <button
              type="button"
              class="btn btn-sm btn-warning"
              [disabled]="isLoading || !arbitId"
              (click)="arbitId = ''"
              title="Clear field"
            >
              X
            </button>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <!--  justify-content-end  -->
        <div class="col d-flex justify-content-between">
          <!-- Reset All Criteria -->
          <button
            type="button"
            class="btn btn-sm btn-outline-success"
            [disabled]="isLoading"
            (click)="resetSearch(true)"
            title="Set all search criteria back to their default"
          >
            Reset All
          </button>
          <button
            type="submit"
            class="btn btn-sm btn-primary"
            [disabled]="isLoading || !canSearch()"
            title="Enter or select at least one search field above"
          >
            Search
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #confirmationDialog let-modal>
  <div class="modal-header text-light bg-danger">
    <h5 class="modal-title">{{ confirmationTitle }}</h5>
    <button
      type="button"
      class="btn btn-close btn-close-white"
      (click)="modal.dismiss()"
      aria-label="Cancel"
    ></button>
  </div>
  <div class="modal-body">
    {{ confirmationMessage }}
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success"
      (click)="modal.close()"
      aria-label="Yes"
    >
      Yes
    </button>
    <button
      type="button"
      class="btn btn-danger"
      (click)="modal.dismiss()"
      aria-label="No"
    >
      No
    </button>
  </div>
</ng-template>
