<div class="modal-header bg-info text-light">
    <h4 class="modal-title">{{settlement.id>0?'Update':'Add'}} Claim Settlement</h4>
    <button type="button" (click)="activeModal.dismiss('dismiss click')" class="btn-close" title="Close">
    </button>
</div>

<div class="modal-body">
    <form #offerForm="ngForm" id="ngForm" novalidate="novalidate">
        <!-- Payor -->
        <div class="mb-2">
            <span class="form-label small">Payor Name</span>
            <span class="input-group-text col bg-disabled">{{currentPayor?.name}}</span>
        </div>
        <!-- Prevailing Party -->
        <div class="mb-2">
            <span class="form-label small">Prevailing Party</span>
            <select *ngIf="isFormal" 
                class="form-select form-select-sm" 
                [(ngModel)]="settlement.prevailingParty" 
                required 
                name="prevailingParty" 
                aria-label="Prevailing Party"
                title="Which party, if either, prevailed in any formal mediation">
                <option selected disabled value="">Select...</option>
                <option *ngFor="let f of allParties">{{f}}</option>
            </select>
            <span *ngIf="!isFormal" class="input-group-text col bg-disabled">{{settlement.prevailingParty}}</span>
        </div>
        <!-- Authority and Authority Case ID -->
        <div class="mb-2">
            <span class="form-label small">Controlling Authority (Jurisdiction)</span>
            <select class="form-select form-select-sm" 
                [(ngModel)]="settlement.authorityId" 
                name="authorityId" 
                (change)="authorityChange()"
                required
                aria-label="Authority"
                title="The mediating Authority for this Settlement">
                <option selected disabled [ngValue]="null">Select...</option>
                <option *ngFor="let a of authorityChoices" [ngValue]="a.id">{{a.name}}</option>
            </select>
            <p class="small mb-0"><i>Only Authorities (including NSA) with active case numbers are available</i></p>
            <p *ngIf="!userIsManager" class="small text-danger mb-1"><i>Each application role (State, NSA, Manager) affects your choices</i></p>
        </div>
    
        <div class="mb-2">
            <span class="form-label small">Authority / NSA Case Id<span *ngIf="!isFormal"> (if available)</span></span>
            <div class="input-group input-group-sm">
                <input type="text" name="authorityCaseId" 
                    class="form-control form-control-sm" 
                    [required]="isFormal"
                    [(ngModel)]="settlement.authorityCaseId"
                    aria-label="Authority Case Id" #caseID
                    title="The case identifier for the selected authority. If this is an informal settlement before filing with an Authority, please leave it empty."
                    (focus)="selectAll($event)">
            </div>
        </div>

        <!-- Report Submission Date -->
        <div class="mb-2" *ngIf="isFormal">
            <span class="form-label small">Report Submission Date</span>
            <div class="d-flex flex-row">
                <input type="text" name="arbitratorReportSubmissionDate" 
                    class="form-control form-control-sm" ngbDatepicker 
                    required
                    [(ngModel)]="arbitratorReportSubmissionDate"
                    [ngModelOptions]="{updateOn:'blur'}"
                    aria-label="Report Submission Date" 
                    (dateSelect)="setSubmissionDate($event)" 
                    title="Date of arbitrator's report submission (on or after their decision date)"
                    #rs="ngbDatepicker">

                <button type="button" class="btn btn-outline-secondary" 
                    (click)="rs.toggle()" 
                    [disabled]="!settlement.authorityCaseId"
                    title="Pick Arbitrator Report Submission Date Date">
                    <i class="bi bi-calendar"></i>
                </button>
            </div>
        </div>
        <!-- Arbitration Decision Date -->
        <div class="mb-2" *ngIf="isFormal">
            <span class="form-label small">Arbitration Decision Date</span>
            <div class="d-flex flex-row">
                <input type="text" name="arbitrationDecisionDate" 
                    class="form-control form-control-sm" ngbDatepicker 
                    required
                    [(ngModel)]="arbitrationDecisionDate"
                    [ngModelOptions]="{updateOn:'blur'}"
                    aria-label="Arbitration Decision Date" 
                    (dateSelect)="setDecisionDate($event)" 
                    title="Date of arbitrator's decision"
                    #dd="ngbDatepicker">

                <button type="button" class="btn btn-outline-secondary" 
                    (click)="dd.toggle()" title="Pick ArbitrationDecision Date">
                    <i class="bi bi-calendar"></i>
                </button>
            </div>
        </div>

        <!-- Awarded On / Offer Accepted On -->
        <div class="mb-2">
            <span class="form-label small">Awarded On / Offer Accepted On</span>
            <div class="d-flex flex-row">
                <input type="text" name="partiesAwardNotificationDate" 
                    class="form-control form-control-sm" ngbDatepicker 
                    [(ngModel)]="partiesAwardNotificationDate"
                    [ngModelOptions]="{updateOn:'blur'}"
                    required
                    aria-label="Service Date" (dateSelect)="setAwardDate($event)" 
                    title="Date to award this settlement"
                    #awd="ngbDatepicker">

                <button type="button" class="btn btn-outline-secondary" 
                    (click)="awd.toggle()" title="Pick Award Date">
                    <i class="bi bi-calendar"></i>
                </button>
            </div>
        </div>

        <!-- Reasonable Amount --> 
        <div class="mb-2">
            <span class="form-label small">Reasonable Amount per Authority</span>
            <div class="input-group input-group-sm">
                <div class="input-group-text currency-addon">$</div>
                <input type="text" name="reasonableAmount" 
                    class="form-control form-control-sm" 
                    required
                    [(ngModel)]="settlement.reasonableAmount"
                    aria-label="Reasonable Amount" 
                    title="Reasonable Amount"
                    (focus)="selectAll($event)">
            </div>
        </div>
        <!-- Total Settlement Amount per Authority -->
        <div class="mb-3" *ngIf="isFormal">
            <span class="form-label small">Authority Total Settlement Amount</span>
            <div class="input-group input-group-sm">
                <div class="input-group-text currency-addon">$</div>
                <input type="text" name="totalSettlementAmount" 
                    class="form-control form-control-sm" 
                    [(ngModel)]="settlement.totalSettlementAmount"
                    aria-label="Authority Total Settlement Amount" 
                    title="Total Settlement Amount according to the Authority"
                    (focus)="selectAll($event)">
            </div> 
            <p class="small text-danger"><i>Total authority awarded amount, i.e. prevailing party final offer</i></p>
        </div>

        <!-- Total Paid Amount -->
        <div class="mb-3">
            <span class="form-label small">Total Amount Paid So Far</span>
            <div class="input-group input-group-sm">
                <span class="input-group-text col bg-disabled">{{arbCase.totalPaidAmount | currency}}</span>
            </div> 
        </div>

        <!-- Gross Settlement Amount -->
        <div class="mb-3">
            <span class="form-label small">Arbit Gross Settlement Amount</span>
            <div class="input-group input-group-sm">
                <div class="input-group-text currency-addon">$</div>
                <input type="text" name="grossSettlementAmount" 
                    class="form-control form-control-sm" 
                    (change)="grossSettlementAmountChange()"
                    [(ngModel)]="settlement.grossSettlementAmount"
                    aria-label="Gross Settlement Amount" 
                    title="Informal Offer Amount minus Total Paid Amount OR Winner Final Offer plus Total Paid Amount"
                    (focus)="selectAll($event)">
            </div> 
        </div>
        <!-- Net Settlement Amount -->
        <div class="mb-2">
            <span class="form-label small">Arbit Net Settlement Value (residual value)</span>
            <div class="input-group input-group-sm">
                <div class="input-group-text currency-addon">$</div>
                <input type="text" name="netSettlementAmount" 
                    class="form-control form-control-sm" 
                    readonly
                    [(ngModel)]="settlement.netSettlementAmount"
                    aria-label="Net Settlement Amount" 
                    title="Net Settlement Amount">
            </div>
            <p class="small text-danger"><i>Note that this will decrease as more payments are received </i></p>
        </div>
        <!-- Settled Procedure Codes -->
        <h5 class="mb-2">Settled Procedure Codes (CPTs)</h5>
        <div class="form-check" *ngFor="let c of allClaimCPTs;let i = index">
            <input class="form-check-input" type="checkbox" 
                [value]="c.id" 
                id="code{{i}}"
                (change)="toggleSettledCPT(c)"
                name="isSettled_{{i}}"
                [(ngModel)]="c.isSettled">
                <!-- [attr.checked]="c.isSettled?true:null" -->
            <label class="form-check-label" for="code{{i}}">{{c.cptCode + ' - ' + c.description}}</label>
        </div>
        <p *ngIf="!allClaimCPTs.length" class="text-danger">The Claim does not appear to contain any Allowed Procedure Codes!</p>
        <!-- Notes -->
        <div class="mb-3">
            <label for="notes" class="form-label">Notes</label>
            <textarea type="text" 
                pattern="^\S.*[^\s]$"
                class="form-control form-control-sm"
                rows="3"
                [(ngModel)]="settlement.notes" 
                name="notes" id="notes">
            </textarea>
        </div>
       
    </form>
</div>

<div class="modal-footer">
    
    <button type="button" 
        class="btn btn-sm btn-success"
        [disabled]="!offerForm.form.valid||!offerForm.form.dirty||!hasCPTSelection()"
        (click)="saveChanges()" title="Add Offer">
        <i class="bi bi-save"></i> {{settlement.id>0?'Update':'Add'}}
    </button>
</div>
